[2021-02-24 00:58] jedelman8 opened #1 "Add support for an OS Model to define target OS image per device"
### Proposed Functionality
Support a model to define OSs that should be used by each device and ensure there is also a relationship between vendor and platform.

### Use Case
As a user, I should be able to define the intended OS or list of supported OSs per device. I should preferably be able to run search queries within the UI using greater than and less than (<>) operators to verify if my device

[2021-02-24 01:01] jedelman8 opened #3 "Save GraphQL queries to easily re-run from a REST API"
### Proposed Functionality
Support ability to create, update, and delete GraphQL queries in the UI and API.

### Use Case
As a user, I want a way to save and re-run common GraphQL queries from an API endpoint.  I also want to be able to easily execute saved queries within GraphiQL.

### Database Changes
Yes - will likely require a model for saving GraphQL queries to the DB - maybe just a JSONField

[2021-02-24 01:01] jedelman8 opened #4 "Create custom fields that are computed based on referencing other data"
### Proposed Functionality
Read-only computed custom fields using existing data already stored in the database.  This will allow users to be able to build lightweight Jinja (or Python) templates to populate a read-only custom field value.

### Use Case
As a user, I want to dynamically generate interface descriptions using device, neighboring device, circuit, or circuit ID.  All data already stored

[2021-02-24 01:02] jedelman8 opened #5 "Add Git repository “dry-run” capability"
### Proposed Functionality
Provide an option to do a “dry run” of a Git repository sync/refresh and report what data (config contexts, export templates, etc.) would be changed as a result, without actually applying the change.

### Use Case
Sanity checks, especially when adding a new Git repository for the first time.

### Database Changes
None.

### External Dependencies
None.

[2021-02-24 01:03] jedelman8 opened #6 "Add Data Validation Engine"
### Proposed Functionality

This proposal is to support a "no code" option to take advantage of and simplify the consumption of the Data Validation API.  In the current form, plugins are required and therefore, Python code needs to be built and managed to implement Data Validation.  The proposal is to develop this as a plugin that uses the Data Validation API.

### Use Case

As a network engineer,

[2021-02-24 01:03] jedelman8 opened #7 "Extend image attachment capability to more models"

[2021-02-24 01:04] jedelman8 opened #8 "Add support for Contact Information to more models"
### Proposed Functionality
Define contact information at a broader and more granular level than is possible today supporting the ability to define contact information for individual regions, devices, circuits, circuit providers, etc.

### Use Case
As a network organization, my team has different contacts and domain owners for different resources stored in Nautobot.  I’d like to be able to define w

[2021-02-24 01:04] jedelman8 opened #9 "Allow users to hide top-level items in the navbar"
### Proposed Functionality
There should be the ability to customize the navigation bar by removing top-level items.

### Use Case
As a user if I’m not using a core model like Virtualization or Secrets, I should be able to easily remove that from the navigation bar (and home page).  I should also be able to change the location of a top-level item in the nav bar.

Need to determine if this should be

[2021-02-24 01:04] jedelman8 opened #10 "Add some form of documentation on getting started with Nautobot"
### Proposed Changes

Add documentation to help users get started using Nautobot.  This should articulate the steps in which users need to create tenants, regions, sites, platforms, device types, devices, interfaces, VLANs, IPs, to construct a basic inventory.  The goal is to help users understand order of operations when starting with an empty database.

This may be able to be added a user guide.

[2021-02-24 01:04] jedelman8 opened #11 "Add webhook support for models created and used within plugins"

[2021-02-24 01:05] jedelman8 opened #12 "Allow plugins to create top-level dropdowns in navbar"
### Proposed Functionality
It should be possible to add specific plugins, or groups of plugins, as a top-level item.

### Use Case
As a developer, I want to make it easy for users to find a given functionality that is implemented within a plugin.  If I’m developing a solution-centric plugin, I should be able to make that a top-level item on the navigation bar.

### Database Changes
None.

### Plug

[2021-02-24 01:05] jedelman8 opened #13 "Register “extras” features such as CFs, webhooks, export templates, links, relationships from plugins"

[2021-02-24 01:05] jedelman8 opened #14 "Add support to use generic views and templates when developing plugins"
### Proposed Functionality
Although it’s already technically possible for plugins to use Nautobot’s generic views (nautobot.views.generic.*) and templates (templates/generic/*.html and templates/inc/*.html), this hasn’t been officially “blessed” by the development team and it has not been guaranteed in the past that these will be considered part of the plugin API (affecting SemVer, etc. when updat

[2021-02-24 01:06] jedelman8 opened #15 "Add support to use ChangeLoggedModel when developing plugins"
### Proposed Functionality
Although it’s technically possible for plugins to use Nautobot’s ChangeLoggedModel base class to provide automatic change-logging for the plugin’s custom model classes, this hasn’t been officially “blessed” by the development team and it has not been guaranteed in the past that this class is considered part of the plugin API (affecting SemVer etc when updated). This prop

[2021-02-24 01:06] jedelman8 opened #16 "Plugin registration and deregistration"

[2021-02-24 01:07] jedelman8 opened #17 "Add MySQL 8.x support"
### Proposed Functionality
Support MySQL as a backend.  This is in addition to PostgreSQL.

### Use Case
As a user, my company only uses MySQL.  Nautobot needs to support MySQL for me to be able to deploy it.

### Database Changes
TODO

### External Dependencies
TODO

[2021-02-24 01:07] jedelman8 opened #18 "Unify REMOTE/SOCIAL_AUTH_* settings into central authentication settings"
Currently `REMOTE/SOCIAL_AUTH_*` settings are spread across the Remote Auth, SSO docs, and smattered also in the Permissions and Optional Settings docs. Let's get them all into one place (IMO: a dedicated security/auth/permissions section in optional settings).

[2021-02-24 19:00] jathanism opened #26 "Development: nautobot-server run server does not work using `poetry run`"
### Environment
* Python version:
* Nautobot version: 1.0.0a2

### Steps to Reproduce
1. Install nautobot using `poetry install`
2. Try to run `poetry run nautobot-server runserver 0.0.0.0:8000`

### Expected Behavior

Dev server should start.

### Observed Behavior

[code]

If I run `poetry shell` first to enter the virtualenv and then follow that with `nautobot-server ...` it works as expected.

[2021-02-24 22:42] blakedot opened #30 "Thanks for Nautobot!"
congrats on the launch today!
great talks at NFD24.
really looking forward to kicking the tires on it.

[2021-02-24 22:42] #30 closed

[2021-02-24 22:54] blakedot commented on #17
Personally I'd rather see development resources spent on extending core functionality, rather than making the architecture more complicated & force limiting SQL features to those that are supported by both PostgreSQL & MySQL-compatible DBs.

Speaking of which, if you end up having to do that, here's a good comparison of Python database abstractions:
https://www.gramps-project.org/wiki/index.php/Da

[2021-02-25 00:45] carlmontanari opened #32 "Consider Retaining Netbox Commit History"
Preface/disclaimer: I don't know enough to have any smart words about the actual legal bits of licensing/forking and I want to make it clear I am not trying to say that things were done in bad faith or against a license or anything like that -- this is just a friendly comment/inquiry!

Would you consider retaining the Netbox commit history? Fork away, by all means, but it :feelsbadman: that 147 pe

[2021-02-25 02:06] nammie-punshine opened #33 "Typos in nautobot_config.py.j2"
### Change Type
[ ] Addition
[X ] Correction
[ ] Deprecation
[ ] Cleanup (formatting, typos, etc.)

### Area
[X] Installation instructions
[ ] Configuration parameters
[ ] Functionality/features
[ ] REST API
[ ] Administration/development
[ ] Other

### Proposed Changes
nautobot/core/templates/nautobot_config.py.j2
- Fix typo Postres -> Postgres
- Fix comment for EXTRA_INSTALLED_APPS.  "http://nau

[2021-02-25 12:46] #33 closed

[2021-02-25 13:08] jtdub opened #35 "Addition of SELinux Settings for Redhat-like Based Installed"
### Change Type
[x] Addition
[ ] Correction
[ ] Deprecation
[ ] Cleanup (formatting, typos, etc.)

### Area
[ ] Installation instructions
[x] Configuration parameters
[ ] Functionality/features
[ ] REST API
[ ] Administration/development
[ ] Other

### Proposed Changes

Create documentation around configuring SELinux to allow Nautobot to work properly.

[2021-02-25 15:53] jedelman8 commented on #32
The decision to remove the git history was a technical one (we will publish more details on why in a blog post), but we recognize it wasn't the right move.  We will be publishing the git history later on today.

[2021-02-25 17:18] xkilian commented on #17
Wasn't the reason for choosing postgresql due to all the builtin features for manipulating IP addresses. I do not see why this is worth reinventing the wheel.

[2021-02-25 21:42] jathanism commented on #17
These things aren't mutually exclusive, and the idea is trying to make Nautobot more flexible in deployment and not be tightly-coupled to any specific database backend.

If we do this right, adding support for MySQL will be transparent.

[2021-02-25 21:44] jathanism commented on #17
Yes, it comes down to PostgreSQL native `inet` and `cidr` field types. No other database technology has that out of the box, which makes it a quick and easy decision.

It is possible to do networks more agnostically, and that's what we want to try to achieve, to allow more people the ability to deploy Nautobot without having to deploy PostgreSQL, which for many, is not a supported option.

It's al

[2021-02-25 22:01] glennmatthews commented on #32
We have restored the Git history from NetBox. The blog post with more context has been posted as well: https://blog.networktocode.com/post/why-did-network-to-code-fork-netbox/ .

Note that restoring the Git history means that any existing forks of this repository will become out of sync; the recommended approach for any such fork is to save their local diffs to file, delete and re-create the fork.

[2021-02-25 22:01] #32 closed

[2021-02-25 22:05] carlmontanari commented on #32
Thank you @jedelman8  and @glennmatthews! I know ya'll didn't remove it out of spite or anything like that, but it is really nice and important to have the history back to show all the hard work everyone has put into Netbox. Wish ya'll the best on with Nautobot!

[2021-02-25 23:15] cpmills1975 opened #38 "Include Inventory Items in scope of global search views"
### Environment
* Python version: 3.9
* Nautobot version: v1.0.0b1

### Proposed Functionality
The global search functionality returns Inventory Items within the scope of it's search

### Use Case
I track device line-cards as inventory items. In a lab environment, sometimes users want to move line-cards from one device to another and to find existing line cards, users might search for them in Naut

[2021-02-25 23:35] cpmills1975 opened #39 "Allow users to arbitrarily modify the scope of the global search from the front-end UI"
### Environment
* Python version: 3.9
* Nautobot version: v1.0.0b

### Proposed Functionality
Relating to #38, users should be able to choose what models to include in the scope of their searches. A users' preference for the models to be searched should be saved for future searches.

My proposal is to replace the type selection widget in the search page with a styled multiple selection widget that

[2021-02-26 00:28] clienthax opened #40 "Official OpenAPI / swagger bindings"
### Environment
* Python version: N/A
* Nautobot version: N/A

### Proposed Functionality
Officially maintained bindings (Generated from swagger) for golang / others
There is an existing community maintained version for Netbox here https://github.com/netbox-community/go-netbox
However due to various swagger definition problems in Netbox the generated client generally needed modification in areas.

[2021-02-26 00:38] sdktr commented on #1
Other version controlled artifacts should be taken into consideration in this model?
Like firmware for specific cards, bootrom or even config templates. All are subject to tracking of desired version of the artifact for a device/site/tenant etc. We use the Cfg Context hierarchy for this atm, but this doesn't allow for nice presentation or reporting/searching.

[2021-02-26 13:55] falz opened #42 "Golden Configuration Plugin referenced from docs but missing from github"
### Change Type
[ ] Addition
[X ] Correction
[ ] Deprecation
[ ] Cleanup (formatting, typos, etc.)

### Area
[ X] Installation instructions
[ ] Configuration parameters
[ X] Functionality/features
[ ] REST API
[ ] Administration/development
[ ] Other

### Proposed Changes

On the readthedocs page, there's a reference to Golden Configuration plugin:

* https://nautobot.readthedocs.io/en/latest/#key

[2021-02-26 15:43] chipn opened #43 "Commands for adding dependencies to local_requirements.txt are incorrect"
### Change Type
[ ] Addition
[ x] Correction
[ ] Deprecation
[ ] Cleanup (formatting, typos, etc.)

### Area
[x ] Installation instructions
[ ] Configuration parameters
[ ] Functionality/features
[ ] REST API
[ ] Administration/development
[ ] Other

### Proposed Changes
In sections "Configuring Napalm" and "Remote File Storage", the docs recommend using the following commands:

[code]

These comm

[2021-02-26 16:26] itdependsnetworks commented on #42
Apologies, this is on me. Looking to address this tonight. You can pip install it, but the instructions are not there yet to reasonably install it.

[2021-02-26 17:40] jathanism commented on #38
While this could be easily modified, we'd definitely want to consider the potential performance impact of adding a new item to the global search as a long-term solution. Not a huge deal, but needs a little thought into how that might impact search.

You mentioned that you have code for this, so I gather you've tried this yourself. I'd love to see what you came up with.

[2021-02-26 17:40] chipn opened #45 "UI buttons incorrect when editing an existing interface"
### Environment
* Python version: 3.8.5
* Nautobot version: 1.0.0b1

### Steps to Reproduce
1. Navigate to an existing  device -> interfaces tab
2. Click "Edit" button for any interface or navigate to interface and click "Edit"

### Expected Behavior

Buttons at bottom of edit form should be "Update" / "Update and Continue Editing"

### Observed Behavior

Buttons at bottom of edit form are "Create

[2021-02-26 17:44] jathanism commented on #39
At first glance this seems like it would be simple enough, but something to consider is that the mapping of what objects and fields get included in global search is hard-coded in [`nautobot.core.constants.SEARCH_TYPES`](https://github.com/nautobot/nautobot/blob/develop/nautobot/core/constants.py#L60-L259). And then adding the type selection to the dropdown selection is hard-coded in [`nautobot.cor

[2021-02-26 17:49] jathanism commented on #40
Just to clarify, you're effectively asking for an OpenAPI 2.0-compliant `go-nautobot` fork?

[2021-02-26 17:53] jathanism commented on #43
Ah yes. Another option would be `echo 'napalm' | sudo tee -a /opt/nautobot/local_requirements.txt`. Thanks for this.

[2021-02-26 17:57] jathanism commented on #45
Ah the `editing` bool is new. Looks like the logic is inverted or `editing` is missing from the template context. Educated guess is the former.

[2021-02-26 18:49] #43 closed

[2021-02-26 18:53] jathanism opened #47 "Document custom relationships feature"
### Change Type
[x] Addition
[ ] Correction
[ ] Deprecation
[ ] Cleanup (formatting, typos, etc.)

### Area
[ ] Installation instructions
[x] Configuration parameters
[x] Functionality/features
[x] REST API
[x] Administration/development
[ ] Other

### Proposed Changes

The new custom relationships feature is not yet tested or documented. This should track the work for documentation.

The way I se

[2021-02-26 18:55] jathanism opened #48 "Implement unit tests for custom relationships feature"
### Proposed Changes

The new custom relationships feature set is not tested. We need to implement unit tests for this feature.

[2021-02-26 19:00] jvanderaa opened #49 "Documentation Template Does not Render check list"
### Environment
GitHub

### Steps to Reproduce
1. See issue for documentation update
2. See the check boxes showing up as `[ ]` only

### Expected Behavior

Checkboxes render properly

### Observed Behavior
Note above

[2021-02-26 19:52] chipn opened #51 "Development docker container broken with VSCode / WSL2 on Windows 10"
### Environment
* Python version: 3.8.5
* Nautobot version: 1.0.0b1
* VSCode version: 1.53.2
* Windows 10
* WSL2 / Ubuntu-20.04
* Docker version: 20.10.3, build 48d30b5

### Steps to Reproduce
1. Clone develop branch of repo to WSL2 VM
2. Open directory in VSCode from within WSL2 - `code .`
3. Select "Reopen in Container" from the popup for the dev container

### Expected Behavior
Workspace should

[2021-02-26 20:06] #49 closed

[2021-02-26 21:27] cpmills1975 commented on #39
So to be clear, I'm not proposing changing how the search logic itself works, just a) including Inventory Items within the choosable types by including that within the constants.SEARCH_TYPES data structure (because that's the problem I'm ultimately trying to solve for my users*) and b) allowing the user to select more than one choosable type for the action of searching at the same time. e.g. inven

[2021-02-26 21:35] cpmills1975 commented on #38
I've addressed this and #39 in one pull request. I've documented my proposal in a bit more detail under your comments on #39 and included some screen shots which, I hope, explain this in more detail.

Fundamentally, I understand the concern of adding additional object types to a search, however, I'd rather use my processor cycles to search through tables I am using rather than those I am not e.g.

[2021-02-26 21:58] glennmatthews opened #53 "Some UI logic is broken due to null-PK checks"
### Environment
* Python version: n/a
* Nautobot version: 1.0.0b1

### Steps to Reproduce
1. Attempt to add an image attachment to a Device, an error is reported.
2. Various IPAM views do not correctly distinguish between allocated and non-allocated prefixes and addresses
3. Probably others

### Expected Behavior

Functionality should work correctly.

### Observed Behavior

Errors or incorrect beh

[2021-02-26 22:27] jathanism commented on #39
Yeah this is making sense to me and looks well thought out. If it's not too much trouble for you to submit a compatible PR for Nautobot, I'd like to ask you to go ahead and do it. The screen shots you showed seem promising and it's worth having the conversation IMO.

[2021-02-26 22:33] glennmatthews commented on #51
Thanks for the analysis! I think there's some more breakage in our vscode integration, caused by some of the late changes prior to 1.0.0b1, beyond just this - I'll try to look into it soon.

[2021-02-27 05:36] itdependsnetworks commented on #42
@falz wrong link, plus not public. I have now made it public, and you can reach it at https://github.com/nautobot/nautobot-plugin-golden-config

I have also put in a PR to resolve the issues.

[2021-02-27 19:22] itdependsnetworks opened #55 "Data Sources User/Pass Fields"
### Environment
* Python version: 3.7
* Nautobot version: 1.0.b

### Proposed Functionality

The removal of user/password fields from in a way that will not auto-fill for users of standard browser password management systems.

### Use Case

As a user of the git data source, it is highly likely that I would not realize my password manager filled out the user/passwords when filling out the data sour

[2021-02-28 12:04] clienthax commented on #40
That would be my personal use case here, however maintaining the openapi swagger definitions will allow for usable bindings to be generated for other languages.

[2021-02-28 21:16] veprimk opened #58 "GraphQL Device Query - Role filter issue"
### Environment
* Python version: Not known using https://demo.nautobot.com/
* Nautobot version: v1.0.0b1

### Steps to Reproduce
1. Open Nautobot Demo on https://demo.nautobot.com/
2. Click GraphQL at the footer
2. Try to query for Devices where role = "Backbone" using the GraphQL query below:
[code]

### Expected Behavior
Exected two see the two Backbone devices
[code]

### Observed Behavior
I a

[2021-02-28 21:35] syyna opened #59 "CSS Static page linking error in either install documentation or in the /opt/nautobot/contrib file."
### Environment
* Python version:3.8.5
* Nautobot version: 1.0.0b1

### Steps to Reproduce
1. Follow the installation docs for http server: https://nautobot.readthedocs.io/en/latest/installation/5-http-server/
2.  When you get to the step of Confirm Connectivity, it will fail.  A static error for CSS errors will come up when you try to browse to the server page.

### Expected Behavior
1.  Expect t

[2021-03-01 13:03] #42 closed

[2021-03-01 13:35] glennmatthews commented on #59
Thank you for opening this issue! We definitely need to clarify the docs here.

Just as a general note to hopefully make sure you're not blocked in the meantime, you generally shouldn't be pointing to `/opt/nautobot/nautobot/project-static`, but should instead be pointing to wherever `nautobot-server collectstatic` is copying the static files to. This is the `STATIC_ROOT` value in `settings.py`/`n

[2021-03-01 14:35] #35 closed

[2021-03-01 15:00] blakedot commented on #17
if the goal is to support something "self-contained" then perhaps dqlite (distributed SQLite) is worth a look:  https://dqlite.io/

[2021-03-01 15:10] jathanism opened #62 "Revise install documentation around new install and deployment pattern"
### Change Type
[x] Addition
[x] Correction
[x] Deprecation
[x] Cleanup (formatting, typos, etc.)

### Area
[x] Installation instructions
[x] Configuration parameters
[x] Administration/development

### Proposed Changes

The key changes that we made in Nautobot for how it can be installed, configured, developed, administered, and deployed need to be revised. The initial fork and release only did t

[2021-03-01 15:36] jathanism opened #63 "Incorrect label on "destination label" field when adding a new relationship"
### Environment
* Python version:
* Nautobot version: 1.0.0b1

### Steps to Reproduce
1. Go to create a new relationship
2. Scroll to destination label field
3. Profit!

### Expected Behavior

Label should be "Name of the relationship as displayed on the destination object."

### Observed Behavior

Label is actually "Name of the relationship as displayed on the **source** object."

[2021-03-01 15:38] glennmatthews commented on #62
Also need a generalized plugin installation and enablement guide, since it appears people are encountering issues in this area.

[2021-03-01 15:45] jathanism commented on #62
From [ndom91 on Slack](https://networktocode.slack.com/archives/C01NWPK6WHL/p1614543515258200):

[code]

[2021-03-01 16:20] jathanism commented on #55
Hmm, I'd like to try to reproduce this myself. Can you please provide how you encountered this? It feels like we might be better off treating this as a bug and then if it can be reproduced, asserting a fix from there?

[2021-03-01 16:21] jathanism commented on #55
Related? https://developer.mozilla.org/en-US/docs/Web/Security/Securing_your_site/Turning_off_form_autocompletion#the_autocomplete_attribute_and_login_fields

[2021-03-01 16:22] scetron opened #64 "Fix absolute link to wrong version"
### Change Type
- [ X] Correction

### Area
- [ X] Administration/development

### Proposed Changes
Fix link from https://nautobot.readthedocs.io/en/stable/development/getting-started/ to

/development/getting-started/

[2021-03-01 16:31] jathanism commented on #58
In this particular case, it appears that the `devices.role` filter is filtering on the `Device.device_role.slug` field and not the `name` field:

To illustrate this, I attempted a filter on `Backbone` and got the unfiltered results, which IMO is not the expected behavior if the filter parameter is incorrect. You'd think it would return no matches instead of all?

Query on `Backbone`:
[code]

Resul

[2021-03-01 16:36] jathanism commented on #59
Thanks for the report @syyna! Should have some totally new install docs in the coming days.

[2021-03-01 16:38] jathanism commented on #64
Where did you find this link to stable docs? I thought we got rid of all of those! Thanks.

[2021-03-01 16:49] scetron commented on #64
This is in the introduction page of the Developer section.

https://nautobot.readthedocs.io/en/latest/development/

There's a link to the getting started guide that points to stable. I've opened a PR with the fix :)

[2021-03-01 16:56] jathanism commented on #59
Will be fixed in #62

[2021-03-01 17:14] jathanism commented on #40
Okay, I'm with you. So far we've maintained whatever was already part of NetBox core and extended it slightly for the changes we've made.

Discussions are ongoing right now as to continue to support OpenAPI 2.0 support, or move to OpenAPI 3.0 (w/ [drf-spectacular](https://github.com/tfranzel/drf-spectacular)) for the new API work we'll be doing. As I understand it drf-yasg, which is what is being

[2021-03-01 18:00] #45 closed

[2021-03-01 18:13] glennmatthews opened #69 "More links to `/stable/` to fix up"
### Change Type
Correction

### Area
Multiple

### Proposed Changes

See also #64 .

All of the below should be changed either to relative links or link to `latest` instead of `stable`:

[code]

[2021-03-01 18:28] veprimk commented on #58
I can confirm the same.

If the filters are coming from [here](https://github.com/nautobot/nautobot/blob/8176cae71e22376fa2b0ec1ded6af7bdbb6c8c89/nautobot/dcim/filters.py#L612).
Upon further research based on your comment, it seems that this might be a known issue with MultipleChoice Filter where filtering is becoming a NOOP due to no choice being present (assuming incorrect filter choice == no fi

[2021-03-01 19:03] glennmatthews opened #71 "v1.0.0 release checklist items"
### Proposed Changes

As per `docs/development/release-checklist.md`:

- [x] Update all Python dependencies to their latest patch versions
- [x] Update static dependencies:
  - [x] Bootstrap 3
  - [x] Material Design Icons
  - [x] Select2
  - [x] jQuery
  - [x] jQuery-UI
- [x] Add/update release notes
- [x] Update version number (`poetry version major`)

### Justification

Following a consistent r

[2021-03-01 20:55] #63 closed

[2021-03-01 22:04] #53 closed

[2021-03-02 04:13] itdependsnetworks commented on #55
I have used the autocompletion to demo, then went to any data source, this cause the auto-complete to be filled in. Let me know if that helps describe what i am seeing.

[2021-03-02 14:44] clienthax commented on #40
Aha I wasn't aware that OpenAPI 3 was a thing,
I am not too worried about what form it takes, as long as its maintained and has at least the same functionality as the current one.

Nice to hear its being planned 👍

[2021-03-02 15:21] jathanism commented on #51
Fixes #67

[2021-03-02 15:37] #64 closed

[2021-03-02 15:39] glennmatthews commented on #47
Reopening this as incomplete per Jathan's comment on #56:

[2021-03-02 16:21] sliddjur opened #76 "Trace not working over a circuit"
### Environment
* Python version: from docker-compose
* Nautobot version: 52847736a40e (v1.0.0b1)

### Steps to Reproduce
1. connect cable between interface and front port
2. connect circuit between two rear ports
3. connect another cable between remote front port and interface

### Expected Behavior
I expecteded the connection trace to go over a circuit, which is described in the documentation ht

[2021-03-02 16:26] steffann commented on #76
I obviously support this 🙂

Considering the experience I have with cable traces I'll happily volunteer to implement this.

[2021-03-02 16:58] #69 closed

[2021-03-02 19:49] glennmatthews commented on #62
See #74.

[2021-03-02 22:36] sdktr commented on #40
I'd suggest looking at polishing up the graphql api for the long-term 'mother of all nautabot interfacing'.

With a good gql backend thats the only access for the UI and external clients a lot of duplicate effort in maintaining duplicate code/logic can be avoided. For the clients depending on REST style api a gql2rest mapper could be packaged.

[2021-03-03 04:01] smk4664 opened #79 "Installation - 3. Nautobot document link for remote storage backed is incorrect"
### Environment
* Python version: 3.7.9
* Nautobot version: develop

### Steps to Reproduce
1. Browse to https://nautobot.readthedocs.io/en/latest/
2. Select Installation - 3. Nautobot
3. Scroll down to the Remote File Storage section.
4. Click on desired storage backend

### Expected Behavior
Links to STORAGE_BACKEND in the Optional Settings

### Observed Behavior
404 error

[2021-03-03 08:28] mkrsn opened #81 "Device Rackposition not changeable"
### Environment
* Python version: Python 3.8.5
* Nautobot version: v1.0.0b1

### Steps to Reproduce
1. Go to Devices and click on a existing Device
2. Click Edit Button
3. Scroll Down to "Location" and Open "Position"

### Expected Behavior
When opening the List it should display the Units of the assigned Rack.

### Observed Behavior
It just shows: "The results could not be loaded"

![Screenshot_2

[2021-03-03 12:37] #79 closed

[2021-03-03 16:37] dgjustice commented on #40
+1 on @sdktr sdktr's comment.  It is difficult to keep the OpenAPI bindings 100% accurate with the core API, and the core API isn't always well-behaved since it is written in a dynamic language.  [Is it an `int`, a `str`, nullable, all-of-the-above?](https://github.com/netbox-community/go-netbox/issues/116)  It may be a better option long-term to refer users of statically-typed languages to the Gr

[2021-03-03 17:01] jathanism commented on #76
Thanks for the report! This will take a little time to triage, but I'll make sure we have a follow up soon.

@steffann Since you're already aware of the issue, your contribution would be welcome. Any context on this issue would be greatly appreciated!

[2021-03-03 22:32] jathanism commented on #81
Confirmed! Thanks for the bug report.

[2021-03-03 22:40] glennmatthews commented on #81
https://github.com/nautobot/nautobot/blob/develop/nautobot/dcim/api/serializers.py#L346

`exclude` is an IntegerField but needs to be changed to a UUIDField now that we have UUID PKs instead of integer PKs.

[2021-03-03 23:03] jathanism commented on #81
We should also add a regression test for this. Seems to me more detailed filter testing should have caught this.

[2021-03-04 04:08] smk4664 commented on #76
I was able to replicate this in my instance of Nautobot as well.  Cable tracing will find all cables in a path until it hits a PathEndpoint.  The Circuits model inherits the PathEndpoint.  In some cases, a Circuit could be considered an Endpoint, say DSL or Cable/Fiber Broadband.  While in other instances such as Ethernet Private Line,  Dark Fiber or Transit you would not want the Circuit to be a

[2021-03-04 05:11] smk4664 commented on #76
Well, I may or may not have been right, I now think it has more to do with the logic in CablePath.from_origin.

[2021-03-04 08:14] steffann commented on #76
Because the trace path is stored these days it should actually be easy to make the trace continue all the way to the end (through circuits). Then depending on what you want to show in the user interface and API you can choose to stop at the first circuit termination, or not. I actually had that implemented for Nautobot's predecessor, but it was decided that tracing through circuits was not a suppo

[2021-03-04 13:48] smk4664 commented on #76
Thanks @steffann, that will help greatly.

[2021-03-04 16:18] jathanism opened #82 "Implement all optional dependencies as setup tools extras"
### Proposed Changes

Throughout the documentation there are many places to `pip3 install foo` such as `napalm`, `django-storages`, etc...

I would like to implement these as extras instead, for example to install nautobot w/ napalm:

[code]

or for SSO dependencies (just examples):
[code]

or to install Nautobot with ALL optional dependencies

[code]

### Justification

This simplifies the instal

[2021-03-04 16:32] jathanism opened #83 "Replace `User` model with a custom model"
After some discussions around the timing behind whether we should replace the `User` model, we decided it would be a good idea.

This gives us the opportunity go move the user model to have a UUID as primary key, and to prepare for future use-cases not supported by the default Django user model.

[2021-03-04 16:36] jathanism opened #84 "Revise Developer documentation to be more descriptive"
### Proposed Changes

Expand the "Getting Started" section of the developer docs to better describe and install Invoke, and common operations used in working inside the Docker environment.

### Justification

Invoke is a new concept and we just kind of skim it. Examples on how each of the commands are used is also going to be very helpful.

[2021-03-04 16:37] jathanism opened #85 "Implement user guide for Jobs"
### Proposed Changes

Add a user guide for using the Jobs feature.

### Justification

There is not currently a user guide and we want to have guides for all of the advanced features.

[2021-03-04 16:39] jathanism opened #86 "Implement user guide for relationships"
### Proposed Changes

Add a user guide for using the Relationships feature.

### Justification

There is not currently a user guide and we want to have guides for all of the advanced features including examples and common usage patterns. This feature especially could benefit from examples of source/destination filter expressions, common issues, how to test your relationships, etc.

[2021-03-04 16:42] jathanism opened #87 "Implement user guide for custom data validators feature"
### Proposed Changes

Add a user guide for using the Custom Validators feature.

### Justification

There is not currently a user guide and we want to have guides for all of the advanced features including examples and common usage patterns. Currently, this is buried under "Developing Plugins" > "Implementing Custom Validators. While it does give a code example, this feature especially could benef

[2021-03-04 16:55] jathanism commented on #76
Hmm... Well let's do this. I'd love to see your solution if you've still got it hanging around. Thanks @steffann!

[2021-03-04 17:53] jathanism opened #88 "Replace Gunicorn w/ uWSGI"
### Proposed Changes

Self-explanatory

### Justification

uWSGI is better for the common case and more stable. Our recommendation is to use uWSGi over Gunicorn in production, so we want to revise the requirements and the documentation to support this.

[2021-03-04 18:25] glennmatthews commented on #88
Note that `pyproject.toml` currently lists `gunicorn` as a hard dependency, so we'd want to remove that as well.

[2021-03-04 18:28] jathanism commented on #88
Yes, thanks. We should decide as to whether we want to include uWSGI as a hard dependency (I would argue not) or whether to include it as another extras (`pip3 install nautobot[wsgi]` or something).

[2021-03-04 18:59] itdependsnetworks commented on #88
This is one area where I like supporting optional dependencies. There are many different patterns to install, doesn't make sense to force that on the users.

[2021-03-04 21:36] jathanism commented on #81
Turns out it's not a filter but a query serializer that is being used as if it were a filter by `drf-yasg`.

[2021-03-04 21:37] #51 closed

[2021-03-04 23:59] #81 closed

[2021-03-05 00:45] jathanism opened #93 "Bug when setting CACHEOPS_DEFAULTS timeout value to 0."
### Environment
* Python version: 3.8.8
* Nautobot version: 1.0.0b1

### Steps to Reproduce
1. Set `CACHEOPS_DEFAULTS = {"timeout": 0}` in your `nautobot_config.py`
2. Start your server and load a page
3. No profit. :(

### Expected Behavior

Cache should be disabled.

### Observed Behavior

500 error:
[code]

[2021-03-05 00:46] jathanism commented on #93
The correct solution to disabling the cache is actually setting `CACHEOPS_ENABLED = False`. This was overlooked during our fork and refactor process. The value inside of `django-cacheops` core defaults to `True`.

[2021-03-05 12:53] pke11y opened #95 "Plugin Load Failure"
### Environment
* Python version: 3.8.5
* Nautobot version: 1.0.0b1

### Steps to Reproduce
1. `pip install nautobot-netbox-importer`
2. Enable the plugin in `nautobot_config.py`:
     `PLUGINS = ["nautobot_netbox_importer"]`
3. `sudo systemctl restart nautobot`
4. Browse to the nautobot web User Interface

### Expected Behavior
Expected to see the nautobot landing page on the UI

### Observed Beh

[2021-03-05 12:59] pke11y commented on #95
Also tried with plugin `nautobot-device-onboarding`. Same result.

[2021-03-05 13:38] jedelman8 opened #96 "Implement user guide for GraphQL"
### Proposed Changes

Add a user guide for using GraphQL.

### Justification
GraphQL is quite new for the network industry and having a user guide with examples will help users get started making common queries.  The user guide should include examples using GraphiQL, but also how to make an HTTP POST to the `/graphql` endpoint using Postman and Python `requests`. Consider creating a "demo" repo in

[2021-03-05 13:42] jedelman8 opened #97 "Implement user guide for using git as a data source"
### Proposed Changes

Add user guide for using Git repos as data sources.

### Justification

As a new feature, there aren't many examples on this.  The guide should highlight the different use cases using the `https://github.com/nautobot/demo-git-datasource` repo.  Create new branches in there as needed to showcase different examples in the user guide.

[2021-03-05 13:43] glennmatthews opened #98 "Simplify MultipleContentTypeField boilerplate"
### Proposed Changes

Followup to #92 - Provide a custom `__init__` method for the MultipleContentTypeField class, so that we can more simply instantiate it, along the lines of:

[code]

Possibly something similar should also be implemented for `CSVMultipleContentTypeField`?

### Justification

Currently there's a lot of boilerplate in instantiating a MultipleContentTypeField, particularly in cons

[2021-03-05 13:44] jtdub commented on #96
You can assign this to me.

[2021-03-05 13:46] glennmatthews commented on #96
Thanks!

[2021-03-05 14:53] glennmatthews commented on #82
Actually adding these to the package is pretty straightforward, but we'll need to think about how to incorporate this into the installation and (especially) upgrade workflow. `install.sh` is still our recommended upgrade workflow, but it currently doesn't take any inputs that would allow the user to specify extras to include in the `pip3 install nautobot` command; it *does* look for and use the `l

[2021-03-05 14:55] #48 closed

[2021-03-05 15:17] glennmatthews commented on #47
Re-closing this - additional documentation for this feature will be handled under #86.

[2021-03-05 15:17] #47 closed

[2021-03-05 15:22] jathanism opened #100 "Implement an administration guide for the `nautobot-server` utility"
### Proposed Changes

Add a user guide for using the `nautobot-server` command.

### Justification

There is not currently a user guide and we want to have guides for all of the advanced features including examples and common usage patterns. Currently, the only true introduction or reference for `nautobot-server` is in the deployment guide. There should be a dedicated document for this that explai

[2021-03-05 15:23] jathanism commented on #81
Thanks @mkrsn ! :)

[2021-03-05 15:27] glennmatthews opened #101 "Various docs need to be updated for addition of NAUTOBOT_ROOT and removal of BASE_STORAGE_DIR"
### Environment
* Python version: n/a
* Nautobot version: 1.0.0b1

### Expected Behavior

- `NAUTOBOT_ROOT` should be documented in either `optional-settings.md` or `required-settings.md`, especially its required interaction with the `$NAUTOBOT_ROOT` environment variable.
- `BASE_STORAGE_DIR` should no longer be referenced in `optional-settings.md` or in `docs/configuration/index.md`

### Observed

[2021-03-05 15:29] jathanism commented on #95
Just for some context, was troubleshooting this last night with @jvanderaa and we isolated it to be directly related to Gunicorn for "some" reason.

[2021-03-05 15:48] mkrsn commented on #81
Thanks for fixing / Nautobot! :)

[2021-03-05 16:41] jathanism commented on #26
Hmm this was not yet fixed. I think I must have tagged the wrong ticket.

[2021-03-05 18:24] chrismarget commented on #101
I'm trying to follow the installation instructions that were just committed today, find that the `nautobot-server init` step is writing the new configuration file to `/opt/nautobot/.nautobot/nautobot_config.py`. The `nautobot-server migrate` follow-up step expects to find the configuration at /opt/nautobot/nautobot_config.py`, isn't happy about the discrepancy.

Is there an environment variable I

[2021-03-05 18:28] glennmatthews commented on #101
Hi, can you confirm that you set the `$NAUTOBOT_ROOT` environment variable to `/opt/nautobot/` before running `nautobot-server init`?

[2021-03-05 18:41] chrismarget commented on #101
`nautobot@ip-172-31-73-196:~$ printenv NAUTOBOT_ROOT
/opt/nautobot
nautobot@ip-172-31-73-196:~$ nautobot-server init
Configuration file created at '/opt/nautobot/.nautobot/nautobot_config.py'
nautobot@ip-172-31-73-196:~$`

[2021-03-05 19:30] glennmatthews commented on #101
Oh, sorry! We haven't released v1.0.0b2 yet (aiming for today, but we'll see) so at the moment if you did a `pip install nautobot` you're still getting v1.0.0b1, which doesn't have the `NAUTOBOT_ROOT` changes made in #74. If you want the version that matches the docs (with the fixes therein) in the meantime you'll need to `pip3 install git+https://github.com/nautobot/nautobot@develop` to get the l

[2021-03-05 19:47] chrismarget commented on #101
Excellent, thank you. I saw #74, figured it was related, didn't realize I had only half of the ingredients :)

[2021-03-05 21:04] #93 closed

[2021-03-05 23:27] jathanism commented on #95
Mirroring the comment here from #88 for those with vested interest:

This addresses the issue with #95 by circumventing it entirely, but it does not fix the underlying issue with WHY the plugins are not being loaded correctly. That will take more time, but this will alleviate the problem for the near term by launching uWSGI from within the server utility instead of the other way around, with Gunic

[2021-03-06 06:15] jifox commented on #62
I noticed that in current documentaion there is no reference to  `local_requirements.txt``

see Installation section: [ntc-nautobot-plugin-nornir](https://pypi.org/project/nautobot-plugin-nornir/)

   To ensure Nautobot Nornir Plugin is automatically re-installed during future upgrades, create a file named
   local_requirements.txt (if not already existing) in the Nautobot root directory (alongsid

[2021-03-06 17:53] #88 closed

[2021-03-06 17:58] jathanism commented on #101
@chrismarget For the moment if you'd like to continue, please try to install Nautobot directly from the `develop` branch.

Instead of:
[code]

Run:
[code]

[2021-03-06 18:01] jathanism commented on #39
@cpmills1975 I've been thinking about this idea and the more I think about it, the more I really would like to implement it. My only hangup is to go all the way and make the search functionality use real searching with a proper search index, such as [Haystack](http://haystacksearch.org).

Looking forward to what you've done so we can see how it shakes out.

[2021-03-06 19:15] jvanderaa opened #105 "Add Tooltip For Real Values on Percentage Used Graphs"
### Environment
* Python version: 3.8.5
* Nautobot version: 1.0.0b1

### Proposed Functionality

Would like to implement the feature for when there is a utilization graph to include a tooltip that will provide the real values that create the utilization percentage.

### Use Case

This is helpful when dealing with smaller increments being able to see the real data without having to calculate it.

#

[2021-03-06 19:15] jvanderaa commented on #105
This can be assigned to me

[2021-03-07 22:13] jvanderaa opened #111 "Add Dump Database Option"
### Proposed Functionality

Would like to see a `nautobot-server database-dump` option to help migrate data. Process would be either:

[code]

or

[code]

### Use Case

1. Users who start with lab instance and want to migrate data easily to more production ready setup
2. Create recurring database backups without having to constantly lookup the command set

### Database Changes

None

###

[2021-03-07 22:14] jvanderaa commented on #111
Not sure if it is possible then, also create a database-import option...

[2021-03-08 13:05] 991jo opened #112 "nautobot-server has no command 'start'"
### Environment
* Python version: 3.7.3
* Nautobot version: 1.0.0b1
* Debian 10, latest updates (2021-03-08)

### Steps to Reproduce
1. Follow the nautobot installation instructions (install dependencies, install database, install nautobot itself via pip, create the config file, add a user, run a test server...) - the testserver works.
2. create the uwsgi.conf and systemd files
3. start the nautob

[2021-03-08 13:18] glennmatthews commented on #111
Thanks for the request!

How would this differ from the existing Django-provided `nautobot-server dumpdata`/`nautobot-server loaddata` commands? Are you just looking for a raw SQL dump instead of JSON/YAML, or is there some other nuance I'm missing?

[code]

[code]

[2021-03-08 14:01] glennmatthews commented on #112
Sorry for the confusion! The docs at https://nautobot.readthedocs.io/en/latest/ have already been updated to reflect the upcoming 1.0.0b2 release, which hasn't been published yet. In the short term, instead of `pip3 install nautobot`, please do `pip3 install git+https://github.com/nautobot/nautobot@develop` when following the online documentation.

[2021-03-08 14:12] 991jo commented on #112
okay, thanks, that solves the problem.

[2021-03-08 14:12] #112 closed

[2021-03-08 14:19] jedelman8 opened #113 "include various data sets with Nautobot for testing and developing against Nautobot"
### Proposed Functionality

Include a few different data sets in the GitHub repository that users can load into Nautobot when they are just trying it out or developing against Nautobot.  We're looking for anyone willing to share their data. Would love different verticals (retail, Enterprise, Cloud, Telco, etc.) and would love even more if some are at large scale.

The core team can also help autom

[2021-03-08 14:48] jvanderaa commented on #111
It's corresponding to the documentation here:

https://nautobot.readthedocs.io/en/latest/administration/replicating-nautobot/

Would we be comfortable for a database backup perspective just using the `dumpdata` commands to backup the data? Is there a speed implication on larger sized databases?

[2021-03-08 15:47] jathanism commented on #111
The nice thing about `dumpdata` is that it is database agnostic since it's dumping the model data in a serialized form. Performing a raw SQL dump from a database backend varies based on semantics of the backend.

My concern that if we were to add this for now we'd have to tightly couple it for PostgreSQL's `pg_dump` command, which isn't always guaranteed to be installed. In the future as we add mo

[2021-03-08 16:23] tim-fiola commented on #96
Hi @jtdub @jedelman8.  I'm happy to take this on.  I've already got a slide deck that shows step-by-step how to make the queries in Postman and native Python.  I'm happy to take this off your plate since I love doing this type of stuff.

[2021-03-08 16:27] tim-fiola commented on #86
@jathanism I am happy to take this on.  I'm currently learning netbox and nautobot so I am thinking I could start this in a couple weeks or so.  Would that work?  Is there a timeline you'd like this done?

[2021-03-08 17:50] jtdub commented on #96
@tim-fiola  I'm fine with you taking the taking the torch on this issue if you want!

[2021-03-08 19:22] #101 closed

[2021-03-08 20:25] itdependsnetworks opened #116 "Ubuntu 18 UWSGI"
Opening an issue to immediately close for documentation purposes.

Per user on Slack.

If you are running Ubuntu 18.x you might run into an issue with  uwsgi.ini listen set to 1024. Ubuntu 18.x by default is set to 128. You can check that and change it via the following commands (note: you have to be root to do this) `cat /proc/sys/net/core/somaxconn`  if it says 128 then you can change it by issu

[2021-03-08 20:25] #116 closed

[2021-03-08 22:14] jathanism commented on #116
This is helpful information but we've only provided official documented support for Ubuntu 20.04 at this time since that's what we inherited from when we forked NetBox.

Before I'd be confident supporting older versions of Ubuntu, I'd want to assert whether they or not they are LTS and then certify them.

Another important point, though, that we should clarify is that the existing uWSGI settings w

[2021-03-08 23:21] jathanism commented on #116
I also realized I was commenting on a closed issue. 👓

[2021-03-08 23:31] jathanism opened #120 "Revise development release checklist document for new processes"
### Proposed Changes

Revise the "release checklist" at `docs/development/release-checklist.md` to account for the following (at a minimum):

- We are using `poetry` and `pyproject.toml` now to manage packaging and dependencies
- As a result, updating the version is done using `poetry version {new_version}`
- Updating dependent libraries and the `poetry.lock` where versions are pinned is done usin

[2021-03-09 15:39] jathanism commented on #62
It does now. Thanks! :)

[2021-03-09 20:12] smk4664 opened #123 "API and UI Button to refresh Cable Paths."
### Environment
* Python version: 3.7.9
* Nautobot version: 1.0.0b2

### Proposed Functionality
API endpoint to update cable_paths. This could take an input to select specific Cable_paths based on an CableTermination, or update all cable paths.

UI button to update the specific CablePath, perhaps on the Interface options next to tracing, or in the cable trace itself.

### Use Case
As a User, I nee

[2021-03-09 23:31] lampwins opened #125 "Support optional approval of Jobs before execution"
### Environment
* Python version: 3.7
* Nautobot version: 1.0.0b2

### Proposed Functionality

Support the ability for Jobs to require the approval of a Nautobot user before the job is executed. When such a job has been defined, user Bob will be able to provide input to the job as normal and may execute the job in `Dry-run` mode, but may not execute the job in non-dry-run mode. When Bob is happy w

[2021-03-10 08:39] vinross32 opened #126 "Device Type add Inventory component"
### Environment
* Python version: 3.8.5
* Nautobot version: 1.0.0b2

### Proposed Functionality
Add Inventory component in the Device Type.

### Use Case
This is for device templating, inventory for similar devices may be necessary.

### Database Changes
Unknown

### External Dependencies
Unknown

[2021-03-10 12:44] glennmatthews commented on #62
Also need to consider #82 and how it might feed into the install/upgrade workflow.

[2021-03-10 13:37] mkrsn opened #127 "SSL error: decryption failed or bad record mac & SSL SYSCALL error: EOF detected"
### Environment
* Python version: 3.8.5
* Nautobot version: 1.0.0b2

### Steps to Reproduce
1. become user nautobot
2. Download & extract 1.0.0b2
3. Execute install.ssh (use existing config except unicorn.py; Adapt changes in systemd service files)
4. Start nautobot
5. Open Nautobot WebUI and surf a bit

This only happens after a fresh start of nautobot. The error disappears after a while until a

[2021-03-10 15:49] jathanism commented on #95
@pke11y I still intend to track this to get to the bottom of this issue, but can you please give v1.0.0b2 a shot w/ the revised install instructions to use uWSGI over Gunicorn and let me know how it goes for you? Thanks!

[2021-03-10 15:57] jathanism commented on #126
Hello @vinross32. I'm not entirely clear on what it is that you're asking for. Just to make sure I'm understanding, you want to be able to attach Inventory Item templates to a Device Type in a similar way that you might, for example, add Interface templates to a Device Type?

[2021-03-10 16:03] jathanism commented on #127
@mkrsn Thanks. Are you running the database server on localhost, or is it on a remote system?

[2021-03-10 16:07] mkrsn commented on #127
It's a single-instance - all localhost.

[2021-03-10 16:12] jathanism commented on #127
Great, thanks. It looks like it may be related to our currently documented uWSGI configuration.

If it comes up again, can you please try adding this to your `uwsgi.ini` and see if it alleviates the issue:

[code]

[2021-03-10 16:12] jathanism commented on #127
Oh great catch. Thanks.

[2021-03-10 16:34] mkrsn commented on #127
@nniehoff yes but it was just a strange coincident (Murphy says hi) . I only stumbled over this error after visting the onboarding-plugin. So i thought this is related to the Plugin, that's why i reported that error there. Only my colleague saw this error in another module, so i don't think that this is related to the onboarding plugin. Unfortunately i never tried it without installing the Plugin.

[2021-03-10 16:42] mkrsn commented on #127
@jathanism I've added both parameters to the uwsgi.ini, stopped (checked that) and started nautobot but error still appears.

[2021-03-10 17:51] vinross32 commented on #126
Yes. Exactly sir. Thanks

[2021-03-10 18:20] smk4664 commented on #123
See my note in #104.  Since Circuit Ports are also Endpoints, if a Circuit was created with only an A end, and later changed to add a Z end, the paths for Cable connected to A end would need updated.  There was also a request for this in NetDev/#netbox.

That said, I don't necessarily disagree with your statement.

[2021-03-10 18:24] steffann commented on #123
Nothing a trigger attached to circuit termination saves shouldn't be able to fix ;)  I was just reading #104 and added a comment there as well. Will test!

[2021-03-10 22:22] jcsicard opened #130 "Extend permissions to enable delegation/CRUD of addresses and prefixes based on parent prefix tenancy"
### Environment
* Python version: n/a
* Nautobot version: 1.0.0

### Proposed Functionality

Enable delegation of parts of the IPAM address plan to restricted users by extending permissions constraints matching so that the CRUD of a IPAM address or prefix object can be inherited or evaluated based on the properties of the parent prefix object.

### Use Case

A potential workflow with minimal chang

[2021-03-11 14:13] chrismarget opened #132 "Initial configuration template rendered without trailing newline"
### Environment
* Python version: 3.8.5
* Nautobot version: 1.0.0b2

When `nautobot-server init` renders a new configuration from the template it drops the template's trailing newline. This is the default jinja2 behavior. It's not the end of the world, of course, but makes for clunky installation automation when appending extra configuration elements.

PR incoming.

### Steps to Reproduce
1. Follo

[2021-03-11 16:48] jathanism commented on #127
@mkrsn Okay thanks. Going to try to reproduce this. Thanks.

[2021-03-11 16:55] jathanism commented on #130
This is is an interesting use-case. Thanks for submitting this!

[2021-03-11 16:59] pke11y opened #134 "MIssing venv activation step in install guide"
### Environment
* Python version: 3.8.5
* Nautobot version: 1.0.0b2

### Steps to Reproduce
1. Follow install instructions for venv
2.
3.

### Expected Behavior
[code]

### Observed Behavior
[code]
Need to activate the venv to view it in the $PATH
[code]

[2021-03-11 17:00] pke11y commented on #134
Will put in a PR for it

[2021-03-11 17:01] jathanism commented on #134
We don't want to activate. Instead we want to assert that `/opt/nautobot/bin` is in the `$PATH`. On which OS version did you not experience this being added by default?

I'd rather that we just be more explicit about the PATH than restore using activation of the virtualenv, since we're trying to move away from that.

[2021-03-11 17:28] pke11y commented on #134
It was on Ubuntu 20.04.

On Thu, 11 Mar 2021, 17:01 Jathan McCollum, ***@***.***>
wrote:

[2021-03-11 17:44] Thetacz opened #135 "custom field Selection value name change causes data inconsistency"
### Environment
* Python version: 3.6.8
* Nautobot version: v1.0.0b2

Coming from Netbox v2.9.9 (installing through v2.10.3) there is an issue with custom field type Selection. Values of this type no longer have any ID so changing them causes data inconsistency possibility, which becomes reality once object with this assigned custom field is changed. This issue itself is silent, but the data incon

[2021-03-11 19:49] jathanism commented on #134
Can you please confirm that you didn't miss this step that has you update and re-read `~/.bashrc`?

https://nautobot.readthedocs.io/en/latest/installation/nautobot/#update-the-nautobot-bashrc

If you did that, in a fresh user session, can you please `sudo -iu nautobot` again and then `echo $PATH` again? This is what it looks like on my test system running Ubuntu 20.04:

[code]

[2021-03-11 21:29] pke11y commented on #95
@jathanism tried b2 version w/ uWSGI and loaded the `nautobot_netbox_importer`. Install went well and plugin loaded. Nice job!

[2021-03-11 21:42] pke11y commented on #134
I'm fairly sure I followed the steps as documented.
Here's the shell history for reference.
[code]

Doing as you suggested from a new session worked as documented.
[code]

[2021-03-11 22:03] jathanism commented on #134
Ahhh okay... I see why it's out of phase now. We just revised the docs the other day to streamline creation of the user and the virtualenv.

We were creating the virtualenv prior to sudo to `nautobot` before, which would cause `/opt/nautobot/bin` to be present already. The default `~/.profile` checks for the presence of `$HOME/bin` and automatically prepends `$PATH` with it if that directory is fo

[2021-03-11 22:07] jathanism commented on #95
@pke11y Great, thanks! That means we've successfully worked around this issue for now while creating new ones. :)

[2021-03-11 23:25] jathanism commented on #135
@Thetacz Thanks for the detailed bug report! We'll need a little time to triage it but you certainly made it easier on us. :)

[2021-03-12 00:57] jathanism commented on #86
I think we spoke since you commented here but just for posterity we are trying to get these user guides done for 1.0.0 final release.

[2021-03-12 01:51] itdependsnetworks opened #137 "Support Custom Field Name Changes"
### Environment
* Python version: 3.7
* Nautobot version: v1.0.0b2

### Steps to Reproduce
1. Create a custom field in nautobot, e.g. `color` on the dcim.device model
2. Update data for a device, e.g. set to `red`
3. Updated name of custom field to `colour`
4. View the data in in the UI (notice it is missing)
5. Return custom field to `color`
6. See data return

### Expected Behavior

Either custo

[2021-03-12 05:46] lampwins commented on #135
Great report! Fundamentally, this is a result of the custom fields overhaul in NetBox v2.10 which subsequently became a part of Nautobot. That being said, this is certainly a bug because even though it is due to deliberate tradeoffs in the design, these data consistency issues are undesirable and we can fix them.

As you point out in NetBox <2.10 choice options were stored in a separate model and

[2021-03-12 13:02] #132 closed

[2021-03-12 15:37] Kircheneer opened #138 "Signal error to the GUI if a syntactically incorrect job is loaded from a git repository"
### Environment
Using [nautobot-lab](https://github.com/nautobot/nautobot-lab) at 1.0.0b1
* Python version: 3.8.5
* Nautobot version: 1385ef2621ef (v1.0.0b2)

### Proposed Functionality

If there is a syntactical error in a job file in a git repository there should be a warning or an error message in the sync job logs that indicates this.

### Use Case

If someone was to write a job in a git repos

[2021-03-12 16:49] jathanism commented on #127
@mkrsn Can you please try replacing your `uwsgi.ini` with this and see if that alleviates your issue?

[code]

[2021-03-12 17:13] mkrsn commented on #127
I've tried your config. Problem disappears. I've enabled the "process" variable and the Problem reappears.

Thats why i've tested the original Config. Every time i set "process" >1 the Problem appears.

[2021-03-12 17:24] jathanism commented on #137
Yeah I would definitely lean towards a custom field not being able to be renamed once it is created. That would go a long way to avoiding an issue like this entirely that results in apparent data loss. Other concrete model fields cannot be renamed, so I think this asserts that consistency and prevents us from having to come up with an over-engineered solution.

[2021-03-12 17:26] jathanism commented on #138
Hello @Kircheneer, thanks for the submission.

What is the current behavior you're experiencing? It sounds like if a job is attempting to be loaded, it is failing silently or in a non-obvious way? Can you please add some context on your experience? Thanks in advance!

[2021-03-12 17:27] smk4664 commented on #137
What about adding `label`. This way the name(label) presented to the End Users could change, but not change the internal field.

[2021-03-12 17:30] glennmatthews commented on #123
Is this still needed with the latest updates to #104?

[2021-03-12 17:39] #59 closed

[2021-03-12 17:44] jathanism commented on #127
@mkrsn That's great feedback, thanks! I'd like to get to the bottom of the root cause to this other than just trying to circumvent it. This helps narrow it down.

[2021-03-12 17:47] Kircheneer commented on #138
I just did the following things:
1. Reset the lab container
2. Copy the example job (the new branch one) from the documentation in a git repository into a `jobs` folder under the repository root (that folder also contains an `__init__.py` file
3. Run the job (working as expected)
4. Change the `description` field in the `Meta` class to `descriptio`
5. Refresh the data source in Nautobot
6. Watch a

[2021-03-12 18:49] #100 closed

[2021-03-12 20:39] #105 closed

[2021-03-12 20:41] #76 closed

[2021-03-12 22:10] glennmatthews commented on #137
Custom fields actually *do* already have a `label` field, which can be freely changed. :-)

[2021-03-13 01:32] jathanism commented on #127
This only affects Ubuntu systems where PostgreSQL was installed via `apt`, in which SSL is enabled by default. You can confirm this by connecting to the database using `psql` and running `\conninfo`:

[code]

After more debugging, I can 100% get the issue to go away if I do any one of these:

- Don't use `processes =` in `uwsgi.ini` or `--processes `CLI flag when starting uWSGI, which doesn't resu

[2021-03-13 17:52] jathanism commented on #127
I thought it was also worth noting what DID NOT work so far to alleviate this issue:

- Setting [`lazy-apps = true` in `uwsgi.ini`](https://stackoverflow.com/a/22753269/194311) to coerce post-forking behavior
- Combining `lazy-apps` with a [uWSGI post-fork hook leveraging `uswsgidecorators.postfork`](https://uwsgi-docs.readthedocs.io/en/latest/PythonDecorators.html#uwsgidecorators.postfork) to exp

[2021-03-13 19:28] jvanderaa opened #143 "Device View: Add Copy Button for Device Name, Primary IP addresses (IPv4 & IPv6), and Serial Number"
### Environment
* Python version: 3.8
* Nautobot version: 1.0.0b2

### Proposed Functionality

Add copy button next to particular components.

### Use Case

As a user in the WebUI, I often times copy the data from the webui. Then I would get more data than just the one that I was looking for. Common things include the device name, IP addresses, and serial numbers (this last one was least error pro

[2021-03-13 19:28] jvanderaa commented on #143
I have a working POC at this point. Probably going to need some help completing it for sure.

[2021-03-13 20:12] mkrsn commented on #127
Nice work, thanks :) I'll try to disable Postgres encryption on Monday and report back.

But wouldn't it be better to file a Bug at the uWSGI project instead of defining a workaround as new default?

If you really want to change the default config to workaround that problem maybe it would be better to let the user choose the best solution. This would just need a small note in the Documentation.

I

[2021-03-13 20:18] jathanism commented on #127
Agreed here. My preference would be to have the defaults work for the common case, with callouts and warnings about "advanced" configurations and common pitfalls with those configurations.

Like, if you want to use SSL on the database connection, that's the right thing to do, but it's going to also require that you do not use pre-forking, or if you do use pre-forking, that you disable persistent c

[2021-03-15 00:40] jvanderaa opened #145 "Support Ansible Connection Type in Platform"
### Environment
* Python version: 3.6+
* Nautobot version: 1.0.0b2

### Proposed Functionality

In moving to Ansible 2.10+ (I believe becoming required in Ansible 2.11 Core), the devices will now require a FQCN (Fully Qualified Collection Name). To help facilitate inventory for the Ansible platform, would like to have a way to get this via API and in the UI.

### Use Case

Ansible Inventory source

[2021-03-15 01:14] smk4664 commented on #145
Could we not make this more generic? I am sure this could be used by more than just Ansible.

[2021-03-15 01:16] itdependsnetworks commented on #145
@smk4664 i stated similar on #146, I think that #4 may be a solution

[2021-03-15 02:51] smk4664 commented on #145
I saw that. Thanks!

[2021-03-15 11:14] jifox opened #147 "Login failed when BASE_PATH is set"
### Environment
* Python version: 3.8.5
* Nautobot version: 1.0.0b2

### Steps to Reproduce

I have installed: PLUGINS = ["nautobot_plugin_nornir", "nautobot_golden_config"]

1. set `BUILD_PATH="nautobot/"` in `nautobot_config.py`
2. invoke build --python-ver=3.8.5
3. invoke debug --python-ver=3.8.5
4. Open http://localhost:8000/nautobot/   _(shows up as expected)_
5. Klick on Login Button

### Ex

[2021-03-15 12:08] mkrsn commented on #127
Confirmed - disabling the conn-encryption to postgres solves the issue.

sure

[2021-03-15 12:54] jvanderaa opened #148 "Dev Environment: Makemigrations Files Fails Linting Tests"
### Environment
* Python version: Development Environment
* Nautobot version: 1.0.0b2

### Steps to Reproduce
1. Update models that create a migration
2. Run `invoke build`
3. Run `invoke makemigrations`
4. File is created with root:root user account
5. Black is unable to run
6. File does not meet black standards (I know, Django doing it, not the project)

### Expected Behavior

Expected a migrati

[2021-03-15 14:37] jathanism commented on #127
@mkrsn Thanks for the confirmation. I'll be revising the docs with a quickness.

[2021-03-15 14:41] #95 closed

[2021-03-15 15:11] jathanism opened #149 "Unify optional settings documentation for REMOTE_AUTH*/SOCIAL_AUTH*"
### Proposed Changes

Currently, the documentation for setting up default groups/permissions for remotely-authenticated users is either duplicated or spread out across the documentation for [Remote User Authentication](https://nautobot.readthedocs.io/en/latest/configuration/authentication/remote/#configuration) and [SSO Authentication](https://nautobot.readthedocs.io/en/latest/configuration/authen

[2021-03-15 16:21] jvanderaa commented on #111
I'm good with the thoughts here. Should we close this issue out @jathanism ?

[2021-03-15 16:41] dgjustice commented on #149
@jathanism I'll take a look at this one.

[2021-03-15 16:43] jathanism commented on #149
@dgjustice You're hired!

[2021-03-15 16:45] jathanism opened #150 "Revise all documentation referencing objects with status fields"
### Proposed Changes

There are numerous places across the model documentation that are referencing the "status" field and the default values. We need to revise these to reference and link to the custom status documentation.

### Justification

We changed the way statuses work in Nautobot when we forked from NetBox. The documentation that references status fields needs to reflect this.

[2021-03-15 17:08] chrismarget commented on #127
@mkrsn and @jathanism, thanks for having this conversation. I've run into the same problem (using the new install instructions, on Ubutntu 20.04, using the distro-supplied PostgreSQL), and have worked around it by setting the database MAX_CONN_AGE to zero.

[2021-03-15 17:09] jathanism commented on #127
Thanks for confirming. More motivation to get this into the docs and have a "common issues" or "troubleshooting" section. :)

[2021-03-15 17:20] jathanism commented on #127
Something else occurred to me as well. If you review the [original reason that `CONN_MAX_AGE` was put as a default setting](https://github.com/netbox-community/netbox/issues/3638) in NetBox, it may have everything to do with the default worker strategy of Gunicorn constantly cycling workers on each request.

So for example using the [default `gunicorn.py` recommended by NetBox](https://github.com/

[2021-03-15 17:26] jathanism commented on #127
See also: https://github.com/benoitc/gunicorn/issues/996

[2021-03-15 17:35] jathanism commented on #147
Hmm... I it appears that the problem is that the `LOGIN_URL` value is being computed in `nautobot.core.settings` based on the default value of `BASE_PATH`, but then when you're overloading `BASE_PATH` in your `nautobot_config.py` that computation has already occurred.

Can you please try explicitly setting `LOGIN_URL="/nautobot/login/"` in your `nautobot_config.py` to match the expected path and s

[2021-03-15 17:39] jathanism commented on #148
Sounds like you might have come across a couple issues here? Item 5 is due to permissions from item 4?

As for the file not passing listing tests, that's expected, but since they are part of the code base we made the decision to have them match our desired style and linting.

[2021-03-15 17:40] jathanism commented on #138
@glennmatthews Can you please help me confirm this one? :)

[2021-03-15 17:43] #111 closed

[2021-03-15 18:40] glennmatthews opened #151 "Misleading "poetry" reference in plugin documentation"
### Environment
* Python version: n/a
* Nautobot version: 1.0.0b2

Probably this counts as a special case of #62 but I wanted to make sure it didn't get overlooked.

### Steps to Reproduce
1. `nautobot/docs/plugins/index.md` contains several references to the `poetry` command, which is not an included command in our current installation workflow.
2.
3.

### Expected Behavior

Documentation should

[2021-03-15 19:34] jathanism commented on #151
Thanks. I'm working on the developer docs soonish, so this will get looped in. :)

[2021-03-15 21:26] jathanism opened #153 "Editing an existing user token shows "create" buttons instead of "update""
### Environment
* Python version:
* Nautobot version:

### Steps to Reproduce
1. Navigate to user "Profile"
2. Navigate to "API Tokens"
3. Click "Add token"
4. Click "Create"
5. From the token list view, click "Edit" on the token you just created

### Expected Behavior

There should be an "Update" button.

### Observed Behavior

There are "Create" and "Create and Add Another" buttons.

![Cursor_an

[2021-03-15 21:29] #134 closed

[2021-03-16 03:06] smk4664 opened #154 "Failed tests running in Dev Container (Webhook and Release Test)"
### Environment
* Python version: 3.8.9
* Nautobot version: 1.0.0b2

### Steps to Reproduce
1. Clone Repo
2. Open dev container in VSCode
3. run `nautobot-server test`

### Expected Behavior
All Tests pass

### Observed Behavior
Receiver Error and Failed Tests.
ERROR: test_webhooks_worker (nautobot.extras.tests.test_webhooks.WebhookTest)
FAIL: test_change_webhook_enqueued (nautobot.extras.tests.te

[2021-03-16 05:09] jifox commented on #147
@jathanism Yo're right, adding the LOGIN_URL fixed the problem

[code]

[2021-03-16 07:08] jifox opened #155 "NAPALM driver will not be displayed in Platforms page"
### Environment
* Python version: 3.8.5
* Nautobot version: 3.1.7

### Steps to Reproduce
1. Add platfom data
2. save

### Expected Behavior

### Observed Behavior

The string 'ios' isn't displayed even it is stored

![Screenshot_missing_napalm_data](https://user-images.githubusercontent.com/8406301/111269021-5786c600-862e-11eb-87dc-bac1a52b5211.jpg)

Edit platform data shows its stored:

![Screen

[2021-03-16 10:32] jifox commented on #4
Is there also a possibilty to add such functionality to interface templates?

For e.g. a stacked switch has 48 Ports that have a name that depends on chassis nr

Gi1/0/[1-48] for switch 1
Gi2/0/[1-48] for switch 2

so to define

Gi{% chassis_nr %}/0/[1-48]

[2021-03-16 13:16] glennmatthews commented on #154
Thanks for the report!

The issue with most (all?) of these tests is that they were originally written for NetBox's CI environment, in which there is no worker process running, but in the Nautobot dev environment we do have a worker. These tests place various jobs on the worker queue and expect the jobs to still be on the queue when checking later, but since we have an operational worker process,

[2021-03-16 13:23] jvanderaa commented on #155
I'll grab this one @jathanism @glennmatthews. I have the fix in that other PR that I need to take out.

[2021-03-16 13:25] glennmatthews commented on #153
For whatever reason, it appears that `TokenEditView` is a subclass of the generic `ObjectEditView`, and therefore it's not automatically setting the `editing` flag in the context when calling `render()`. A simple fix would be to just add this flag; a better fix might involve investigating whether it would be possible to subclass `ObjectEditView` here instead.

[2021-03-16 13:26] glennmatthews commented on #155
Would you mind also fixing the typo in "NAPALM argurments" while you're there? :-)

[2021-03-16 14:30] scetron opened #157 "Add ability to create custom relationships between objects of the same type."
### Environment
* Python version: 3.x latest
* Nautobot version: 1.0.0b2 (latest)

### Proposed Functionality

Extend the custom relationship feature to be able to create relationships of the same object type. EG. between dcim.device and dcim.device.

### Use Case

This would allow to create a simpler type of Virtual Chassis or perhaps a custom relationship for Cisco FEX devices. There may be othe

[2021-03-16 14:37] scetron commented on #150
I can help with this.

[2021-03-16 14:53] jathanism commented on #150
It's all yours!

[2021-03-16 17:51] jvanderaa commented on #155
Completely agree. I got the argument update in there as well.

[2021-03-16 18:41] syyna opened #159 "Update documentation for external authentication SSO Backend to get a proper install"
### Environment
* Python version: 3.8.5
* Nautobot version: 1.02b

### Steps to Reproduce
1. Follow steps to install SAML SSO backend in https://nautobot.readthedocs.io/en/latest/configuration/authentication/sso/
2. Run into several issues due to incomplete documentation of dependencies to install
3.

### Expected Behavior
Following the doc should get me to the intended next step

### Observed Beh

[2021-03-16 18:42] #155 closed

[2021-03-16 18:43] jathanism commented on #159
Thanks @syyna for the report! 👀

[2021-03-16 20:54] dgjustice commented on #149
@jathanism @glennmatthews This was committed 19 days ago.  https://github.com/nautobot/nautobot/commit/15fd3b482dcbedc41e120ac171ce1fafd26e34b6

I'm not sure what the ask needs to be.  It appears to me like `SOCIAL_AUTH_DEFAULT_GROUPS` and `SOCIAL_AUTH_DEFAULT_PERMISSIONS` and `SOCIAL_AUTH_POSTGRES_JSONFIELD` are declared but never used.  Should I first go down the rabbit hole of setting up all th

[2021-03-17 09:56] jifox opened #162 "Add database backup/restore to invoke tasks"
### Environment
* Python version: 3.8.5
* Nautobot version: 1.0.0-beta.2

### Proposed Functionality

Add a functionality to backup and restore the nautobot database.

if possible:
   invoke backup filename
   invoke restore filename

### Use Case

To allow easy script triggered database backups it wolud be nice to have a invoke command to start the backup process.

### Database Changes

None

###

[2021-03-17 16:58] dgjustice commented on #159
This is related to issue #149

[2021-03-17 20:31] jifox opened #163 "Add --python-ver parameter detection for invoke command"
### Environment
* Python version:
* Nautobot version:

### Proposed Functionality

The invoke commands should detect the python-ver of running nautobot container and use this version as default.

Commands like `invoke makemigrations` should be executed without specifying the --python-ver parameter when only one docker container is running. Else a list of available python-ver shall be printed

###

[2021-03-17 21:42] htam-net opened #166 "contrib directory is missing (including the apache.conf)"
### Environment
* Python version: 3.6
* Nautobot version: 1.0.0b2

### Steps to Reproduce
1. Follow the steps for the Apache installation
2.
3.

### Expected Behavior
the contrib directory is present

### Observed Behavior
The contrib directory isn't included.

[2021-03-17 21:47] htam-net commented on #166
Also, the apache installation guideline is described for Debian/ubuntu and not RHEL/CentOS. Also, it would be great to consider that the "default" Apache is quite old and you may require to use the SCL repo which change the path (of dependencies).

[2021-03-17 21:57] glennmatthews commented on #166
Thanks for the information! Just wanted to note that #165 was just opened today and is proposing to remove the Apache configuration altogether. I'd appreciate your feedback on that proposal -- in particular, do you require Apache for your environment or would the alternative NGINX approach work just as well for you?

[2021-03-17 22:18] htam-net commented on #166
NGINX would be fine ... but I never have an occasion to start learning it... so for the next time, I will try with NGINX.

By the way, I don't for the nginx installation, but with Apache, there is permission to correct to that httpd can access the /static directory.

[2021-03-18 03:11] dgarros opened #167 "Unable to query ip_addresses by parent in GraphQL"
### Environment
* Python version: 3.8
* Nautobot version: 1.0.0b1 (sandbox)

### Steps to Reproduce
1. Try to query some ip addresses in GraphQL and filter by the parent prefix
[code]

### Expected Behavior
It should return the same data as the REST API for the same query,
In the sandbox environment the REST API returns 1 ip address ( `10.0.65.0/32` ) for this query

### Observed Behavior
Nothing

[2021-03-18 06:55] sirtux opened #168 "Incorrect backend names in remote auth doc"
### Environment
* Python version: 3.8.5
* Nautobot version: 1.0.0b2

### Steps to Reproduce
1. Configure remote auth as described in [docs](https://nautobot.readthedocs.io/en/latest/configuration/authentication/remote/)
2. Try to start nautobot

### Expected Behavior
nautobot starts

### What happened

nautobot informs that the AUTHENTICATION_BACKENDS cannot be found

### Howto fix
In the document

[2021-03-18 11:24] sirtux opened #170 "GraphQL: Filter devices by status"
### Environment
* Python version: 3.8.5
* Nautobot version: v1.0.0b2

### Steps to Reproduce
Run the following GraphQL-Query:
`{
  devices(status: "Active") {
    name
    status {
      name
    }
  }
}`

### Expected Behavior
I get a result set containing only the device with status "Active" or nothing because "Active" might be a nonexisting status.

### Observed Behavior
I get a result set cont

[2021-03-18 11:38] dgarros commented on #170
This issue is similar to #58, it's a known issue we need to fix

Also it would work as expected if you change "active" to "Active" (slug vs Name)

[2021-03-18 11:42] sirtux commented on #170
Yes, that seems to be the same issue, after some analysis it seems to "fail open" if a filter value is not existing.
I tried that just with a tag: If I search for a tag "foo", and it's not existing -> All devices are returned. If that tag exists, but is not assigned to any device-> empty result.

Seems to be a very easy to make error on the user side and a very unexpected behaviour.

[2021-03-18 12:53] #168 closed

[2021-03-18 12:53] dgarros opened #171 "Optimize complex GraphQL queries"
### Environment
* Python version: 3.7
* Nautobot version: 1.0.0b2

### Proposed Functionality
Leverage the ORM capabilities to query multiple results at once with `prefetch_related` and `select_related` to optimize some complex GraphQL queries and improve their response time

### Use Case
A query like this one currently takes 1.87 sec (with caching) to return in the sandbox environment because we

[2021-03-18 14:31] matt852 opened #172 "General code cleanup - HTML tag spacing"
### Environment
* Python version: 3.8.5
* Nautobot version: 1.0.0b2

### Steps to Reproduce
This is simply general code cleanup.  It is not a specific bug.

However in 4 different HTML files, there are some `{% tag %}` tags with incorrect spacing.  While functional, they do not conform to the existing standards for all other tags.

For example, `{% tag %}` can be found written as either `{%tag %}`

[2021-03-18 18:40] jathanism commented on #166
I'll be honest, seeing as we've been discussing ditching Apache altogether we have yet to revise these instructions. So great catch tho. Thanks for the submission.

[2021-03-18 18:49] jathanism commented on #170
Thanks for the report @sirtux and I tend to agree that this is unexpected behavior. I'd rather filters fail closed and not open, and we also need to try to make the filtering on field values a little more intuitive if we can.

[2021-03-18 18:50] jathanism commented on #171
Do you feel this is this something we need try to tackle for v1.0.0 or can it wait til after?

[2021-03-18 21:58] jathanism commented on #147
Awesome! Thanks for confirming! I will use this to improve the error-checking/handling around these configuration states.

For example if `BASE_PATH` is non-default to trigger an error/warning if `LOGIN_URL` is still default. Something like that?

[2021-03-19 18:21] chipn opened #174 "Description field not cleared when using "Create and Add Another""
### Environment
* Python version: 3.7.9
* Nautobot version: 1.0.0b2

### Steps to Reproduce
1. Add a new IP Address or IP Prefix
2. Fill in form including Description field
3. Click "Create and Add Another"

### Expected Behavior

All fields should be cleared after submit

### Observed Behavior

The description field from the first entry is carried over in the form and appears in the URL query str

[2021-03-19 18:50] chipn commented on #174
Closing as this appears to be by design since multiple models have this in their clone_fields.

I don't think description should really carry over between entries, but this issue is not a bug.

[2021-03-19 18:50] #174 closed

[2021-03-19 20:32] #172 closed

[2021-03-19 21:27] jathanism opened #175 "Migrate plugin development guide from `setup.py` to Poetry"
### Proposed Changes

Currently the Plugin guide directs the reader to create a `setup.py` and to use `setup.py develop` to develop plugins.

### Justification

We'll want to revise this section at some point to use Poetry and `pyproject.toml` instead of `setup.py`, since all of our "official" plugins use those.

[2021-03-19 21:52] jathanism commented on #26
The root cause for this is when it attempts to use the auto-reload functionality because it can't find the root path of the script and determine the files needed to reload on change.

If you pass the `--noreload` flag, it works:

[code]

[2021-03-19 21:55] jathanism commented on #26
Related Poetry issue: https://github.com/python-poetry/poetry/issues/2435

[2021-03-20 04:54] #83 closed

[2021-03-20 05:15] smk4664 commented on #123
Obsoleted by #104. A Cable Path update should happen automatically, any need to manually run would likely be due to a bug that will need to be addressed.

[2021-03-20 05:15] #123 closed

[2021-03-20 16:08] jathanism commented on #154
A quick way around this in the tests would be to have the test configuration use different Redis database numbers for tasks and caching (like 2 and 3 respectively)? At least when the tests run and publish things, it may prevent them from being picked  up by any active workers using the default config values?

[2021-03-20 17:48] #84 closed

[2021-03-20 17:48] #151 closed

[2021-03-22 06:17] jifox opened #178 "invoke createsuperuser - django.db.utils.ProgrammingError: column auth_user.config_data does not exist"
### Environment
* Python version: 3.8.5
* Nautobot version: 1.0.0b2

### Steps to Reproduce
1. Checkout development branch
2. invoke build --python-ver=3.8.5
3. invoke start --python-ver=3.8.5
4. invoke createsuperuser --python-ver=3.8.5

### Expected Behavior
Dialog to add the superuser will be displayed

### Observed Behavior

[code]

[2021-03-22 13:46] jeffkala commented on #97
@glennmatthews I'll take this one.  If you want to assign it to me.

[2021-03-22 15:32] jeffkala commented on #97
Or maybe I should ask is this already done, appears to be: https://nautobot.readthedocs.io/en/latest/models/extras/gitrepository/

[2021-03-22 15:58] glennmatthews commented on #97
That's more of a technical reference to how the feature works. It would still be great to create a separate (though perhaps heavily cross-referenced) user guide - less focused on "how does this work?" and more focused on "how can I use this to solve my real-world challenges?" - think fully worked examples (using data added to the demo-git-datasource repo) with screenshots, etc.

[2021-03-22 15:59] jeffkala commented on #97
Great, I can handle that @glennmatthews , Is there a specific documentation style we're following for user-guides?  Or just a md file?

[2021-03-22 16:45] jedelman8 commented on #97
We don't have a style yet per se, but to re-iterate what @glennmatthews, it should very much be focused on _using_ the feature.  Common examples and scenarios should drive it.  The first PR for a user guide should add a section "User Guides" to the RTD outline too.

@jeffkala what's your timing on this? We are looking to come out of beta this month and need to see what user guides will make it for

[2021-03-22 16:46] jedelman8 commented on #96
@jtdub what's your timing on this? We are looking to come out of beta this month and need to see what user guides will make it for 1.0.0 and which ones we should move to 1.1.0.

[2021-03-22 16:49] jedelman8 commented on #98
@glennmatthews can you take this for 1.0.0 ?

[2021-03-22 16:52] jeffkala commented on #97
@jedelman8 Great, I'm working on it now.  Hopefully I'll have a nice initial draft for review in the next day or so.  I've used the git piece quite a bit when working with Ken on the golden config plugin.  I just need to get some examples for export templates and jobs.

[2021-03-22 16:53] jedelman8 commented on #175
@jathanism are you taking this?

[2021-03-22 18:20] glennmatthews commented on #178
When #139 was merged into `develop`, the User and UserConfig models were combined together. Since this is still a pre-release version, this change was consciously made in a non-backwards-compatible way; the easiest way to address this issue is to destroy and recreate your development database (`invoke destroy` then `invoke start`). Sorry for the inconvenience!

[2021-03-23 02:00] smk4664 opened #182 "Help Button directs to inactive wiki"
### Environment
* Python version: 3.8.5
* Nautobot version: 1.0.0.b2

### Steps to Reproduce
1. Scroll to bottom of page
2. Click on the Help link next to the lifebouy

### Expected Behavior
Load page that directs where to get help

### Observed Behavior
Loads root of the Nautobot/Nautobot repo.

Perhaps this should point to the Discussions page, or perhaps the Wiki could be updated?

[2021-03-23 09:46] jifox commented on #178
Thx worked now

[2021-03-23 09:46] #178 closed

[2021-03-23 13:53] #153 closed

[2021-03-23 15:39] jedelman8 commented on #4
@jifox Where would `chassis_nr` be defined in this example?  Proposing to use a custom field to define the number and then use that in the template?

[2021-03-23 15:48] jathanism opened #183 "Implement automated UI integration test suite"
### Proposed Changes

We need to implement automated UI integration testing a la Selenium or Cypress.

### Justification

The unit test suite is not sufficient nor appropriate for end-to-end user testing of the web application. There are many flows and edge cases unique to certain views or model relationships that are not correctly exercised or tested from this perspective. We need dedicated integ

[2021-03-23 16:21] jifox commented on #4
@jedelman8 It should reference the `Position` field of Members to Virtual Chassis

![Virtual_Chassis_add_device](https://user-images.githubusercontent.com/8406301/112180631-03667d80-8bfc-11eb-86f5-eaec684f0dff.PNG)

[2021-03-23 16:22] jifox commented on #4
@jedelman8 with a default value of `1`

[2021-03-23 17:40] jeffkala commented on #97
@jedelman8 @glennmatthews , initial draft is up in a PR 184.  Hopefully this is what we're looking for.

[2021-03-23 19:14] glennmatthews opened #185 "Possible infinite loop in cable tracing algorithm"
### Environment
* Python version: 3.7
* Nautobot version: develop @ d604c7595713cc21ac6c3b537896a393f7d887f5

### Steps to Reproduce
1. Create a circuit and add A and Z terminations
2. In the detail view for this circuit, select "Connect -> Circuit Termination" for either termination, and select the other termination of this same circuit as the other end of the cable.
3. The browser spins indefini

[2021-03-23 19:22] jathanism opened #186 "Example Jobs are not updated for Nautobot"
### Environment
* Python version: 3.8
* Nautobot version: 1.0.0b2

### Steps to Reproduce
1. Navigate to https://nautobot.readthedocs.io/en/latest/additional-features/jobs/#creating-objects-for-a-planned-site
2. Copy/paste the `NewBranch` job into a new Job
3. Run it.

### Expected Behavior

Expect it to succeed.

### Observed Behavior
[code]

[2021-03-23 19:35] jathanism commented on #138
I am unable to reproduce this on Nautobot v1.0.0b2. The job appears to still load but the `description` field disappears.

Can you please [build and install `nautobot-lab` from GitHub ](https://github.com/nautobot/nautobot-lab#building-the-container)which will build b2 and see if this issue persists?

Thanks!

[2021-03-23 21:59] jathanism commented on #147
I have determined by way of trying to fix this that the implementation needs to be replaced. I'm going to be removing `BASE_PATH` and instead direct people to use HTTP server configuration to accomplish subdirectory hosting.

[2021-03-24 00:09] jathanism opened #188 "Remove CSRF_TRUSTED_ORIGINS from core settings"
### Proposed Changes

Remove `CSRF_TRUSTED_ORIGINS` from `nautobot.core.settings`. Replace it with revised mention of this setting in the documentation. Currently it is mentioned as being set to the same value as `ALLOWED_HOSTS` which is no longer possible due to the fact that all those values are defaults and any settings overloaded in a user's `nautobot_config.py` will not be evaluated again by

[2021-03-24 13:12] jathanism commented on #182
How's this? https://github.com/nautobot/nautobot/wiki

[2021-03-24 13:28] #163 closed

[2021-03-24 13:41] jedelman8 commented on #1
@sdktr can you share an example of your current YAML data used in a config context for this?

[2021-03-24 13:49] carbonarok commented on #3
Test comment for issue assignment

[2021-03-24 14:00] jedelman8 commented on #18
@jathanism was your plan to add more than this https://nautobot.readthedocs.io/en/latest/configuration/authentication/sso/  ?

Want to see if there is more expected for 1.0.0 here?

[2021-03-24 14:03] jedelman8 commented on #183
We should be able to get this started in 1.1.0.  At a minimum, getting the framework in place and a few tests created.  From there, we can continue to add more.

[2021-03-24 14:05] jathanism commented on #18
Yes. @dgjustice was helping but we kind of hit an impasse with the somewhat split-brained nature of the way they are. Still in the works, tho.

[2021-03-24 14:13] jedelman8 commented on #126
@vinross32 can you expand on the use case a bit here?

[2021-03-24 14:18] smk4664 commented on #182
Better, maybe add a link to the discussions?

[2021-03-24 14:19] jathanism commented on #126
As I understand it, when you are in a Device Type detail view and wish to add a component, Inventory Items are the only "Device Component" that cannot be added (templated) in this way:

![Juniper_Networks_EX4200_-_Nautobot](https://user-images.githubusercontent.com/138052/112325662-1f583680-8c71-11eb-9178-e26562505167.png)
:

So @vinross32 is asking that we bring add Inventory Items as an option f

[2021-03-24 14:21] jedelman8 commented on #145
@jvanderaa given the direction of using custom computed fields as the solution, are you okay if we close this out? If that happens to not suffice, we can re-open?

[2021-03-24 14:23] jedelman8 commented on #55
Thoughts on disabling auto-completion in general or just for usernames and passwords?

[2021-03-24 14:24] jvanderaa commented on #145
Sure thing. I can leave the PR open as well for the discussion as we see the result of #4.

[2021-03-24 14:24] #145 closed

[2021-03-24 14:28] jedelman8 commented on #125
Really like this.  Going to tentatively put in for 1.1

[2021-03-24 14:31] jedelman8 commented on #138
Tagging @Kircheneer to see @jathanism's last comment!

[2021-03-24 14:35] jedelman8 commented on #162
Going to tentatively add into 1.1.

[2021-03-24 14:36] jedelman8 commented on #143
Keep the POC coming.  Going to add to the 1.1 milestone for now.

[2021-03-24 14:44] jathanism commented on #55
It's worth a shot, but as noted in the link I posted, most password managers ignore the `autocomplete="off"` HTML attribute on `<form>` elements.

[2021-03-24 14:46] jedelman8 commented on #148
@jvanderaa is this still an issue?

[2021-03-24 14:48] jedelman8 commented on #137
@itdependsnetworks can you test again using labels?  Does that help?  If so, this could be added to the docs in the short term.

[2021-03-24 14:51] jedelman8 commented on #39
@cpmills1975 any plans to pursue this further on your side?

[2021-03-24 14:51] jedelman8 commented on #157
This has already come up a few times.  Will definitely require some exploratory efforts here

The use case we've heard already was FEX devices, but would love to hear if there are other use cases, even beyond virtual chassis.

[2021-03-24 14:54] jedelman8 commented on #126
Ack, thanks for clarifying.

[2021-03-24 15:13] dgjustice commented on #149
I guess this issue is a duplicate of #18

[2021-03-24 15:37] smk4664 commented on #154
I had to modify the `nautobot/core/tests/nautobot_config.py` as well as the dev.env that the devcontainer uses.  I also had to pass this `nautobot_config.py` to the test command.  I will put in a PR in a bit.

[2021-03-24 15:49] glennmatthews commented on #148
I'll just note that in #180 I added an autoformat option to the black task (`invoke black --autoformat`) that makes it straightforward to handle the Black part - but the file ownership is presumably still an issue.

[2021-03-24 16:03] jvanderaa commented on #148
Yes, this is. I'm not sure if this is something that we can handle in the tasks.py makemigrations section to automatically change the ownership. This may just be a part of the process of development to make the changes to the file.

[2021-03-24 16:45] jathanism commented on #18
Duplicated by #149

[2021-03-24 16:45] #18 closed

[2021-03-24 18:13] jathanism commented on #154
Great! Passing in the test config to run the tests is the correct pattern anyhow! :)

[2021-03-24 18:19] glennmatthews opened #192 "Test output is still noisy for a few test cases"
### Proposed Changes

Fix all test cases so that they do not output anything to stdout/stderr during normal, successful execution. This was improved a lot by the logging changes made in #180, but there are still a number of outputs seen while running the full test suite:

[code]

### Justification

Tests should run "silently" under normal, successful operation.

[2021-03-24 22:20] jathanism commented on #192
That was throwing me off as well. I was like "what did I do!"

[2021-03-25 02:30] #154 closed

[2021-03-25 03:31] itdependsnetworks commented on #137
It does not, label changes what is in green, and I am referring to what is in orange.

![image](https://user-images.githubusercontent.com/9260483/112414767-05facd00-8cf9-11eb-8e69-bd1e01b70881.png)

[2021-03-25 04:20] itdependsnetworks commented on #137
actually, I am incorrect, I was referring to #135 yes, I think documentation for now is the course of action, with a longer term solution.

[2021-03-25 14:17] nniehoff opened #193 "pyuwsgi doesn't support https"
### Environment
* Python version: 3.7.9
* Nautobot version: 1.0.0b2

### Steps to Reproduce
1. add an https config parameter to uwsgi.ini (see [this page](https://uwsgi-docs.readthedocs.io/en/latest/HTTPS.html) for details)
2. try to start nautobot-server with nautobot-server

### Expected Behavior

server starts with an https listener

### Observed Behavior

pyuwsgi errors with unknown configurat

[2021-03-25 15:53] nniehoff commented on #193
Re-opening as we need to figure this out.  Looking at the [documentation](https://pypi.org/project/pyuwsgi/) for pyuwsgi:

[code]

[2021-03-25 17:56] #26 closed

[2021-03-25 18:12] dgjustice commented on #185
It looks like `node` can be assigned back to itself, and there is no visited nodes structure, hence the loop will never terminate.  I'm going to write some tests to break this, then work back from that.  https://github.com/nautobot/nautobot/blob/dbb34c07166fd8bc044fd971daab6e06d74f3a9f/nautobot/dcim/models/cables.py#L414

[2021-03-25 18:15] jathanism commented on #193
Womp: https://github.com/python-poetry/poetry/issues/365

[2021-03-25 23:43] sdktr commented on #1
I added an example to [the nautobot demo instance](https://demo.nautobot.com/dcim/devices/5989cc34-5b2f-4b92-8f90-c6cd2f425144/config-context/)

### Artifact tracking (firmware/bootrom etc)
One of the artifacts we track a desired version of is declared as 'device_fw_image'. It's logic is based upon a config context key lookup thats concatenated of:
`device_fw_image_{{ manufacturer }}_{{ devicetype

[2021-03-26 01:57] dgarros commented on #1
@sdktr thanks for your detailed message.
please keep in mind that the sandbox will be reset every night so the links won't work tomorrow, or they will work but your changes won't be there anymore

[2021-03-26 13:12] glennmatthews commented on #183
Example issue not caught by the existing UT, that would have been caught by adequate UI testing: https://github.com/nautobot/nautobot/pull/179#pullrequestreview-618737118 - a change to the way form fields are rendered to the UI was not caught because the backend validation of the form fields didn't change, and so the fact that the UI and the backend became out of sync was not tested or caught by a

[2021-03-26 15:35] #186 closed

[2021-03-26 16:50] carbonarok commented on #58
Similar issue: DjangoFilterConnectionField

[2021-03-26 18:20] progala opened #200 "Allow Jobs to be marked as read-only"
### Environment
* Python version: Python 3.8.5
* Nautobot version: 1.0.0b2

### Proposed Functionality

It would be helpful to be able to mark a Job as being read-only, i.e. not modifying the database. This would then remove "Commit message" checkbox from the Job form, and would stop "Database changes..." log messages from showing up in the Job results.

### Use Case

As an end user running Jobs t

[2021-03-26 18:46] #166 closed

[2021-03-26 18:51] FragmentedPacket opened #201 "Custom Fields cannot filter by name for content_types"
### Environment
* Python version: Python 3.8
* Nautobot version: 1.0.0.b2

### Steps to Reproduce
1. Attempt to filter `extras/custom-fields` by `content_types=dcim.device` it fails with **Observed Behavior** below.
2. Attempt to filter `extras/statuses` by `content_types=dcim.device` and it works

### Expected Behavior
Filter custom fields for any that are tied to `dcim.device`

Also, should cont

[2021-03-26 18:53] jathanism commented on #201
Thanks @FragmentedPacket for the report.

We won't be able to solve for integer PKs for content types because they are built-in, but we can at least hide them. We just need to revise the custom fields relationship to use the same content-types related field subclass we added to support a cleaner UX for working with statuses.

[2021-03-26 19:29] #98 closed

[2021-03-26 20:25] #185 closed

[2021-03-26 20:26] jathanism commented on #200
Thanks @progala for submitting this. :)

[2021-03-26 20:32] jathanism opened #204 "Refactor all imports to use module namespaces"
### Proposed Changes

Currently in the code base there are many examples of large imports into the global namespace. For example, here is a sample of forms-related imports from `nautobot/extras/forms.py`:

[code]

I'm proposing we move to this pattern:

[code]

[2021-03-26 20:53] #120 closed

[2021-03-26 21:08] #147 closed

[2021-03-26 22:26] sdktr commented on #1
Ah! Too bad I learned that the hard way. The story still checks out for you, doesn't it?

[2021-03-27 15:23] smk4664 opened #205 "API Documentation shows numeric id instead of UUID"
### Environment
* Python version: 3.8.5
* Nautobot version: 1.0.0.b2

### Steps to Reproduce
1. Open https://nautobot.readthedocs.io/en/latest/
2. Go to REST API Overview

### Expected Behavior
Examples should show UUID

### Observed Behavior
Examples show Numeric ID.

[2021-03-27 17:02] jathanism opened #207 "Implement User Guide for Configuring Groups and Assigning Permissions"
### Proposed Changes

I propose we either add a dedicated user guide or expand the [existing permissions documentation](https://nautobot.readthedocs.io/en/latest/administration/permissions/) to cover the following topics:

- Configuring groups and assigning permissions

This guide should tie existing pieces of guides together (linking where applicable) and detail out any missing pieces.

### Justi

[2021-03-27 17:06] #205 closed

[2021-03-27 19:08] jifox commented on #113
Hi @glennmatthews

What about implementing a parser for yaml data and use pynautobot to import data to nautobot.

This will allow manual editing or migrate existing data from e.g ansible via jinja templates. Also this could be a valuable example for using pynautobot.

What are your thoughts?

[code]

[2021-03-29 10:39] lampwins commented on #137
For now, we will not allow the name or type to be changed once created.

[2021-03-29 14:12] #188 closed

[2021-03-29 14:25] jvanderaa commented on #182
Looks like this one is already fixed in develop? @smk4664 @jathanism ?

[2021-03-29 14:27] jvanderaa commented on #175
I can take this one @jathanism if you would like.

[2021-03-29 14:45] sajaltiwari opened #210 "Facing Static Media Failure error after fresh installation"
### Environment
* Python version: 3.6.8
* Nautobot version: 1.0.0b2

### Steps to Reproduce
1. Followed all the steps from the document
2. After nginx getting Static Media error
3. Disabled selinux but still not working

### Expected Behavior
Should get page of Nautobot

### Observed Behavior
Getting Static Media Failure error page

[2021-03-29 15:12] smk4664 commented on #182
Sure, since we added a wiki.  Although, I don't think a help button should go to a page that doesn't provide help.

[2021-03-29 15:14] jathanism commented on #138
@Kircheneer That's progress! It does look like the `NewBranch job you linked was based off the [sample job of the same name](https://nautobot.readthedocs.io/en/latest/additional-features/jobs/#creating-objects-for-a-planned-site).

In any case your issue is on line 41:

https://github.com/Kircheneer/nautobot_data/blob/master/jobs/example.py#L41

You want that to be an instance of a `Status` object

[2021-03-29 16:57] jathanism commented on #182
I think having the wiki satisfies this., but let's make a point to get some stuff added to the wiki. :)

[2021-03-29 16:58] jathanism commented on #210
Can you please provide context on what system you're running on? Is it CentOS? If so, which version?

Can you please also provide the static media error output you'r receiving and anything else that might help us to reproduce the issue? Thanks!

[2021-03-29 19:51] #182 closed

[2021-03-29 21:04] glennmatthews commented on #138
I can verify the reported behavior using the "master" branch of the linked repo - the job fails (from the user's perspective) silently to load when accessing the Jobs UI, although the error *is* logged to the console at least:

[code]

It would be reasonable for us to add some handling logic to report errors as a banner on the Jobs page, along the lines of "The following job files could not be loa

[2021-03-30 02:02] FragmentedPacket opened #212 "Allow Plugins to use utilities/templatetags/buttons.py"
### Environment
* Python version: 3.8.8
* Nautobot version: 1.0.0b2

### Proposed Functionality
Allow plugin authors to use the builtin [buttons](https://github.com/nautobot/nautobot/blob/develop/nautobot/utilities/templatetags/buttons.py#L27).

I spoke with @jathanism on this and he agreed with adding a `plugin` field to these buttons that would prepend on the `_get_viewname` function.

An exampl

[2021-03-30 06:29] jifox opened #213 "Programming Error Exception Value: relation "social_auth_usersocialauth" does not exist"
### Environment
* Python version: 3.8.5
* Nautobot version: 1.0.0.b2

### Steps to Reproduce
1. git pull
2. export PYTHON_VER=3.8.5
2. invoke destroy
2. invoke build --no-cache
3. invoke debug
4. invoke createsuperuser
5. Open Browser Login
6. Exception after send data

I started with a clean directory and made no changes to any of the files

[code]

### Expected Behavior

Main screen open in brow

[2021-03-30 09:35] sajaltiwari commented on #210
Centos version:
CentOS Linux release 8.2.2004 (Core)

Below is the error I am getting while accessing the web app.

![image](https://user-images.githubusercontent.com/30925310/112967795-40d18a80-9169-11eb-9c05-b08b53e187bf.png)

[2021-03-30 15:24] jathanism commented on #213
Thanks for the report. This is certainly a bug from the latest round of SSO-related changes.

You can work around this temporarily by adding this to your `development/nautobot_config.py`:

[code]

And then run `invoke migrate` again.

[2021-03-30 16:24] #58 closed

[2021-03-30 16:28] jifox commented on #213
Thanks, Applying the patch is solving the problem

[2021-03-30 16:28] #213 closed

[2021-03-30 16:41] Thetacz opened #215 "Prefix with tags is created in 2 steps"
### Environment
* Python version: 3.6.8
* Nautobot version: v1.0.0b2

When creating a new prefix while specifying any tags, it is not created with it right away but first without tags and than it is updated with them. The result is correct, having prefix with tags created. But the process is wrong, because it triggers 2 webhooks (`type create` and `type update`), but there should only be single fo

[2021-03-30 17:00] jathanism commented on #215
Thanks for the report @Thetacz. This is working as intended because the tags are generic objects that can be applied to many object types, and therefore are added using a many-to-many relationship, which is secondary to the initial object creation.

Tags can't be associated with an object until after the object is created and has its primary key populated (UUID). The primary key is what is used to

[2021-03-30 18:01] jathanism commented on #213
@jifox Well it was a bug so not your fault. Thanks.

[2021-03-30 19:49] #149 closed

[2021-03-31 08:05] Thetacz commented on #215
Thanks for the response @jathanism. I see the issue here - through a design choice there is no way to link tag to object that is getting created. It needs to happen in a new step, which is object update. Since not triggering webhook on this kind of change is not really a good idea, there is probably nothing to be done about it.

Note I just tested updating existing object and there are also 2 chan

[2021-03-31 08:24] sajaltiwari commented on #210
@jathanism  Can you please check the above message and help in fixing the issue. I have already disabled SELinux and check the configuration files.

[2021-03-31 10:06] jifox opened #220 "FATAL: sorry, too many clients already"
### Environment
* Python version: 3.8.5
* Nautobot version: 1.0.0b2

### Steps to Reproduce
1. invoke debug
2. Add some data using nautobot-ansible (pynautobot) - running on localhost
3.

**Questions:**

- How to increase the number of allowed clients?
- How to check if everything is processed before sending a new request?

[code]

Data for import: ./vars/fabric/nautobot-tags.yml

[code]

### Expe

[2021-03-31 14:13] joewesch opened #221 "Developer environment in docker - `invoke createsuperuser` hangs"
### Environment
* Python version: system version 3.9.1
* Nautobot version: pulled latest develop branch

### Steps to Reproduce
(Following steps in guide to [run the developer environment with docker](https://nautobot.readthedocs.io/en/latest/development/getting-started/#docker-compose-workflow))
1. `invoke build`
2. `invoke createsuperuser`

### Expected Behavior
The script to prompt for password

[2021-03-31 14:29] jathanism commented on #220
Hello again @jifox! Thanks for the report.

Can you please provide the following:

- Output of the `DATABASES` section of your `nautobot_config.py`
- uWSGI config
- Operating system and version (e.g. Ubuntu 20.04.1 LTS)
- PostgreSQL version
- System memory/CPU

I'm asking for this because I'm trying to isolate if there might be issues with certain setups. Thanks!

[2021-03-31 14:36] jathanism commented on #215
Hmm... Yes. This latter case is a known issue that we inherited from NetBox (See: https://github.com/netbox-community/netbox/issues/5583). This has come up recently in some other discussions.

Let's give it the old scoping effort here and see what to do about it.

[2021-03-31 15:03] jathanism commented on #210
Let's double check the basics.

Can you please share your NGINX config? Or confirm that the location mapping for `/static/` in your NGINX config matches the path where the static files are (e.g. `/opt/nautobot/static/`)? For example:

[code]

Confirm directory path is world-readable, for example:
[code]

If those are accurate, what happens when you navigate directly to `/static/materialdesignicons

[2021-03-31 15:27] glennmatthews commented on #170
Fixed by #209.

[2021-03-31 15:27] #170 closed

[2021-03-31 15:41] jathanism opened #222 "Refactor all "*" imports to absolute imports"
### Proposed Changes

Everywhere you see `from foo import *` in the code base should be eliminated and replaced with absolute imports. Any code that relies on the presence of star-imported names should be refactored.

### Justification

- This is an anti-pattern that reduces maintainability readability
- It often results in circular import issues
- It can result in accidental (or intentional) abus

[2021-03-31 15:54] jathanism opened #223 "Replace RQ with Celery as queuing backend"
### Environment
* Python version: 3.6+
* Nautobot version: v1.1.0 maybe?

### Proposed Functionality

- Add Celery as queue backend.
- Add [Celery's built in Django integration](https://docs.celeryproject.org/en/stable/django/first-steps-with-django.html).
- Add Celery worker
- Consider using [Django database as a Celery results backend](https://docs.celeryproject.org/en/latest/django/first-steps-

[2021-03-31 16:39] joewesch commented on #221
This issue seems to have been an abnormality. I was running this on my Mac using docker desktop v3.2.2. I did a restart on the docker app and now it is working as expected.

[2021-03-31 16:39] #221 closed

[2021-03-31 17:23] jifox commented on #220
Hello @jathanism

I'm using the docker development environment with default docker-compose files.

After a research I think I could find a solution by adding the `--nothreading` parameter to runserver command.

I have done few successful imports that had always lead to a traceback after changing the command.

**File `development/docker-compose.override.yml`:**

[code]

[2021-03-31 17:25] jifox commented on #220
Kernel Version: 5.4.0-66-generic
 Operating System: Ubuntu 20.04.2 LTS
 OSType: linux
 Architecture: x86_64
 CPUs: 4
 Total Memory: 15.61GiB

[2021-03-31 18:22] sajaltiwari commented on #210
Thanks @jathanism . Below are the requested logs.

1) Nginx config

`server {
    listen 443 ssl http2 default_server;
    listen [::]:443 ssl http2 default_server;

    server_name _;

    ssl_certificate /etc/pki/tls/certs/nautobot.crt;
    ssl_certificate_key /etc/pki/tls/private/nautobot.key;

    client_max_body_size 25m;

    location /static/ {
        alias /opt/nautobot/static/;
    }

[2021-03-31 19:46] jathanism opened #224 "Edit view for IPAM network objects does not emit the current network address value"
### Environment
* Python version: 3.8
* Nautobot version: 1.0.0b1 & b2

### Steps to Reproduce
1. Create an `IPAddress` in the UI
2. Edit it
3. :(

### Expected Behavior

The `address` field should be populated with the current value for that object.

### Observed Behavior

The `address` field is blank in the edit view.

I compared this to `1.0.0b1` @ demo.autobot.com and `develop` running locally

[2021-03-31 22:49] jathanism commented on #210
Hmm... Okay thanks for the info. That 403 error is suspicious. Some kind of permissions error affecting the static files.

Can you make sure that `/opt/nautobot` is also world readable (`ls -ld /opt/nautobot`)?

I know you said you _disabled_ SELinux, but can you please confirm how you did that?

And just in case, did you see the [SELinux Troubleshooting ](https://nautobot.readthedocs.io/en/latest

[2021-03-31 23:41] jathanism commented on #220
Ahhh I should have caught that when you said you did `invoke debug`.

If you're trying to do any legit data or performance testing, you might start bumping into issues like this with `runserver` since it's not the most performant.

[2021-04-01 00:28] jtdub commented on #210
Can you execute "sestatus" and provide the output?

[2021-04-01 00:34] jedelman8 commented on #150
@scetron are you able to work on this over the next few days? Targeting this for 1.0.0.

[2021-04-01 06:23] ggiesen commented on #130
Would a better model be to delegate based on tenant? I'd like to see permissions for everything (devices, racks, prefixes, etc) being able to be delegated, and I think tenant is ideal.

[2021-04-01 07:22] sajaltiwari commented on #210
Thanks found the issue. The `/opt/nautobot` folder didn't had proper permission seems i created it with nautobot user.
I have fixed the permission and it's working now.

Thanks for your help.

[2021-04-01 07:22] #210 closed

[2021-04-01 13:09] jifox opened #226 "Documentation - Development"
### Environment
* Python version: N.A
* Nautobot version: N.A

### Proposed Functionality

I stumbled over the following message on slack channel and have not found any reference in DEVELOPMENT section of the manual. Add this, please.

Heads up for those of you brave souls building from the develop branch, please get into the habit of running **nautobot-server post_upgrade** which performs a bunch

[2021-04-01 13:43] scetron commented on #150
Should be able to have the first draft by tomorrow, so let me say Saturday to be safe.

[2021-04-01 23:25] #127 closed

[2021-04-02 13:45] jedelman8 opened #229 "Add view for managing custom fields"
### Proposed Functionality

Manage custom fields from the UI and not have to use Django Admin.  Same as the migration effort already in place for export templates, webhooks, etc.

[2021-04-02 13:56] jedelman8 opened #230 "Create a flexible organizational model"
### Proposed Functionality

The proposed functionality is to keep and maintain a default of an organizational structure as there is today with regions, sites, locations, etc. , but add the ability to make this more flexible.  This means users should be able to change the name of location types such as from sites to facilities and/or create abstract _containers_ to account for IDFs, MDFs, closets,

[2021-04-02 14:42] jedelman8 commented on #223
Can we add actual use cases that are driving this?  Otherwise, it seems subjective and just weighing technical merits of RQ and celery.

[2021-04-02 15:10] jathanism commented on #210
Thanks for the report all the same! We can use this to flesh out our troubleshooting docs.

[2021-04-02 15:51] schreyack opened #231 "Change custom field results in error when you attempt to update an object"
### Environment
* Python version: Sandbox
* Nautobot version: Sandbox

### Steps to Reproduce
1. Add a custom field
2. Update an object and put some data in the custom field
3. Go back and now *change* the name of the custom field
4. Now go and try to update the object you will get this error:
5. Unknown field name 'test' in custom field data.

### Expected Behavior
When I changed the name of the

[2021-04-02 15:57] glennmatthews commented on #231
Thanks for the report! Can you confirm whether this is the same issue described in #137? It will most likely be addressed by PR #208 in any case. :-)

[2021-04-02 16:06] #159 closed

[2021-04-02 16:18] schreyack commented on #231
Oh, basically the same.  This just extends the notion that if you try to update that object, it will fail.

[2021-04-02 16:31] schreyack opened #232 "Graphql custom field filter query does not work"
### Environment
* Python version: Sandbox
* Nautobot version: Sandbox

### Steps to Reproduce
1. Create a custom field and add some data to one object.
2.  Create a query in graphql to filter on that custom field
[code]

### Expected Behavior
Should filter on the data.

### Observed Behavior
Returns an error

[code]

[2021-04-02 16:36] dgjustice opened #233 "GraphQL boolean filters are borked"
### Environment
* Python version: 3
* Nautobot version: develop

### Steps to Reproduce
1.
[code]
2.
[code]

[2021-04-02 17:16] jathanism commented on #232
While I think the correct query would be this...

[code]

... That still doesn't work.

The custom field is not showing in the schema as `DeviceType`. I think we fixed some of this in beta2 and more fixes are in beta3. I tested and while the custom fields DO show in the schema as `DeviceType.cf_test`, filtering still does not work.

I would reckon that custom field filtering may not work anywhere

[2021-04-02 17:24] jathanism commented on #233
There is currently a known issue we are working on reflecting 100% of filtering or lookup using virtual fields. In this context a virtual field is any non-concrete database field, whether that is a computed model field (such as `IPAddress.address` or a filter field such as `Device.has_primary_ip`.

We have a pending fix to address this for `IPAddress.address` and also fix filtering on method-based

[2021-04-02 19:38] lampwins commented on #231
Yes, I see this as the same behavior as #137. We have decided for now that changing the name (or type) of a custom field will not be allowed. This is something we may revisit later.

[2021-04-02 19:38] #231 closed

[2021-04-02 19:42] lampwins commented on #232
Would be good to have @dgarros chime in here, but I think something broke recently because there is code that appears to be handling the schema generation for custom fields. Similar code is there for relationships and they appear to be working.

Additionally, the current documentation says this should work and it doesn't:
[code]

[2021-04-02 20:00] nniehoff opened #234 "Possible regression with IPAddress"
### Environment
* Python version: 3.7.9
* Nautobot version: 1.0.0b2 (develop branch)

### Steps to Reproduce
1. In a nautobot shell `nautobot-server nbshell` try:

[code]

### Expected Behavior

An IPAddress object is created.  In previous versions of Nautobot (1.0.0b1) this worked, I also confirmed this works in NetBox:

[code]

### Observed Behavior

[code]

[2021-04-02 20:19] jathanism commented on #234
You have to use `netaddr.IPNetwork` objects. In b3 they are all the same underlying field types and `netddr.IPAddress` objects are no longer used .

This was not the case before b3.

You can also just use a string. Can you please confirm using a string works? If so, assuming we have docs that refer to these, let's revise them.

[2021-04-02 20:54] nniehoff commented on #234
Good to know.  String does work, doesn't look like this is in the docs, but it's in some code we use internally.  We do something similar to:

[code]

Looking at the code this would make sense, but looking deeper at the code indexing a `netaddr.IPNetwork` object (i.e. `subnet[0]`) returns an `netaddr.IPAddress` type.  So the above code becomes:

[code]

or you just use string... Anyway, as long as

[2021-04-03 15:42] jathanism commented on #232
There is code to handle the filtering but there's been a few filter-related issues that appear to be centering around the same underlying issue: Mapping non-concrete database fields (whether they be computed model fields like `IPAddress.address` or filterset fields like `nautobot.dcim.filters.DeviceFilterSet.has_primary_ip`).

Related: #167, #233, #225

[2021-04-03 15:49] jathanism commented on #234
With all due respect, this internal code is a heavy anti-pattern. We shouldn't be using indexing on `IPNetwork` objects.

Either of these works:
[code]

This is preferred, because it's just strings:

[code]

So yeah, just use strings. :)

[2021-04-03 15:52] #234 closed

[2021-04-03 15:54] jathanism commented on #226
Thanks for the suggestion. This is a new command that hasn't really been weaved into the docs yet other than in the `nautobot-server` reference: https://nautobot.readthedocs.io/en/latest/administration/nautobot-server/#post_upgrade

[2021-04-03 19:49] jvanderaa commented on #148
Possible idea on the black side, let's exclude that from Black formatting. This way whether it is made inside the container or out, that any migrations created would not hurt the CI process.

[2021-04-03 20:08] jathanism commented on #148
I don't really have an issue w/ excluding migrations from `black` seeing as the majority of them are automatically generated, but I do have an issue with the motivation for it being that we have two supported development patterns, and one of them isn't playing nicely.

[2021-04-05 19:00] #135 closed

[2021-04-05 19:00] #137 closed

[2021-04-05 19:00] #201 closed

[2021-04-05 19:04] #224 closed

[2021-04-05 19:06] #226 closed

[2021-04-05 22:34] jvanderaa opened #242 "Create Slimmed Dockerfile, ready for clustered deployment"
### Environment
* Python version: N/A
* Nautobot version: 1.0.0b3

### Proposed Functionality

Update Dockerfile to be ready for production like deployment onto services such as Docker-compose, Kubernetes, Nomad, Openshift, etc.

### Use Case

Build container base image for deployment onto clusters, and development system, ready for a production environment.

### Database Changes

None

### Extern

[2021-04-05 22:34] jvanderaa commented on #242
Should be assigned to @nniehoff

[2021-04-05 22:35] jvanderaa opened #243 "Create Docker-compose"
### Environment
* Python version: Several
* Nautobot version: 1.0.0b2

### Proposed Functionality

Provide a docker-compose deployment for installing the necessary components of Nautobot, and that can be run on a single node environment for production purposes.

### Use Case

Docker-compose to stand up Nautobot

### Database Changes

None

### External Dependencies

Docker

[2021-04-05 22:35] jvanderaa commented on #243
Assign to myself (@jvanderaa)

[2021-04-05 22:35] jathanism commented on #242
Can you please add some more context about the why here?

[2021-04-06 11:03] dgarros opened #247 "GraphQL : Add custom fields as filter arguments"
### Environment
* Python version: 3.7
* Nautobot version: 1.0.0b2

### Proposed Functionality
Add support for custom fields in filter argument for all graphql types
Currently it's possible to define some arguments when querying a model, at the top level, but it's not possible to query by custom fields.

if there is a custom field `type` defined under `Site`  model, it should be possible to search

[2021-04-06 11:14] dgarros opened #248 "GraphQL : Add filter arguments at all levels"
### Environment
* Python version: 3.7
* Nautobot version: 1.0.0b2

### Proposed Functionality
Add filter arguments at all levels for GraphQL
Currently, it's only possible to define filter arguments at the top level

**Examples of currently supported queries**
[code]
** Proposed query, currently not supported**
[code]

### Use Case
Have a more powerful query engine that will be able to return only

[2021-04-06 13:59] glennmatthews commented on #242
Is this different than #195?

[2021-04-06 14:15] joewesch opened #249 "Docs: readthedocs sphinx breadcrumb links broken"
### Environment
* Python version: N/A
* Nautobot version: N/A

### Steps to Reproduce
1. Go to any page on https://nautobot.readthedocs.io/
2. Click on the Edit on Github link at the top right of the page

### Expected Behavior
It should bring up a github page that either allows for quick edit (user has proper permissions) or asks the user to fork the repo to provide an edit.

### Observed Behavio

[2021-04-06 21:05] dgjustice opened #254 "Epic: Import/Export * Aren't Inverses"
### Environment
* Python version:
* Nautobot version:

### Steps to Reproduce
1.
2.
3.

### Expected Behavior
Export devices, then copy/paste this into import successfully.  I haven't tested other models.

### Observed Behavior
import<>export aren't inverses.  Export spits out extra fields that import won't eat.  Import status uses slug, but export sends the Name.

[code]

### Related (New Feature

[2021-04-06 23:12] jathanism commented on #247
Fixed in #246

[2021-04-06 23:16] jathanism commented on #248
Tried as I might to address this in #246, I could not get it working and it appears that it will require the use of Relay nodes and filter connections to make it work. I

t might be possible to get it working by leveraging some of the extra filterset/serializers/models types found in [graphene-django-extras](https://github.com/eamigo86/graphene-django-extras) but it's going to take some trial and

[2021-04-06 23:17] jathanism commented on #249
Huh, looks like it's linking to `master` by default, which doesn't exist. Must be some kind of setting to tweak in either our templates or RTD.

[2021-04-06 23:22] jathanism commented on #249
Yep! https://github.com/mkdocs/mkdocs/blob/master/docs/user-guide/configuration.md#edit_uri

[2021-04-07 12:00] #249 closed

[2021-04-07 12:12] glennmatthews commented on #254
Thanks for the report!

FWIW, the NetBox maintainers have previously asserted that this is "by design" - see https://github.com/netbox-community/netbox/issues/4429, https://github.com/netbox-community/netbox/issues/4656, https://github.com/netbox-community/netbox/issues/4677, https://github.com/netbox-community/netbox/issues/5270, etc.

That said, we may well want to revisit this design in Nautobo

[2021-04-07 12:51] #8 closed

[2021-04-07 17:32] ggidofalvy-tc opened #259 "Add ability to connect "virtual" interfaces"
### Environment
* Python version: 3.7.3
* Nautobot version: 1.0.0b2

### Proposed Functionality
I'd like to propose relaxing the current requirements on connecting two interfaces within Nautobot, allowing connecting two virtual interfaces to each other.

Currently, this can be achieved with this one-line diff, we haven't experienced any negative side-effects after we applied this patch (we've test

[2021-04-08 13:35] glennmatthews opened #260 "Cable path tracing does not work with data imported by nautobot-netbox-importer (KeyError)"
### Environment
* Python version: any
* Nautobot version: 1.0.0b3

### Steps to Reproduce
1. Install Nautobot 1.0.0b3
2. Install the `nautobot-netbox-importer` plugin
3. Import data from NetBox using the importer
4. In the Nautobot web UI, navigate to the Device detail view for a Device that has connected interfaces, and attempt to access the `Interfaces` tab.

### Expected Behavior

The page shou

[2021-04-08 14:30] jathanism commented on #259
Thanks for the suggestion @ggidofalvy-tc.

At a glance this seems like a logical change, but we also have to consider deliberately augmenting the automated testing if we were to do this. This vibes with some other conversations that have been ongoing about modeling logical circuits (like IPSec as you mentioned).

You stated you've tested on NetBox 2.9.0, and Nautobot was forked from NetBox 2.10.4.

[2021-04-08 14:44] #167 closed

[2021-04-08 14:44] #232 closed

[2021-04-08 14:44] #233 closed

[2021-04-08 14:44] #247 closed

[2021-04-08 14:54] jvanderaa commented on #243
Blocked by #195

[2021-04-08 15:11] #62 closed

[2021-04-08 15:23] jathanism opened #262 "Revise migration and upgrade guides for latest changes"
### Proposed Changes

- The upgrading guide is still not revised for Nautobot
- The migration guide needs to have some explicit mentions of the major changes to the data model as it relates to network field types, custom fields.
- Address/remove all "FIXME" (e.g. in LDAP guide) and "As of {beta_release}" from the docs

### Justification

We need to make it more obvious how to migrate from NetBox f

[2021-04-08 16:21] #260 closed

[2021-04-08 16:56] jvanderaa opened #263 "Revise Plugin Notes Once Docker-Compose Updates Have Been Merged"
### Environment
* Python version: 3.9.2
* Nautobot version: 1.0.0b3

### Expected Behavior

- Documentation to take from start to finish

### Observed Behavior

- Currently the documentation is following the steps outlined where it assumes that there is a Redis DB and Postgres server already running. This should not be a requirement for devs, and the docker-compose updates coming will be able to s

[2021-04-08 16:58] jvanderaa commented on #263
Blocked by #243

[2021-04-08 18:14] ggidofalvy-tc commented on #259
For now, I'd like to keep the topic on easy pickings, that is, enabling virtual interfaces and LAGs to be logically connected in NetBox.

I've applied the patch to NetBox v2.10.5 and to the latest commit on the `develop` branch of Nautobot (https://github.com/nautobot/nautobot/commit/c96b3d085ca03127ec165f8015416154b6fa9c92); I was able to create connections between circuits in both, haven't exper

[2021-04-08 21:27] FragmentedPacket opened #265 "Services API Endpoint - POST - 500 Status Code"
### Environment
* Python version: 3.7
* Nautobot version: 1.0.0b3

### Steps to Reproduce
1. Attempt to POST to `api/ipam/services`
[code]
2. 500 Error pointing to TypeError: '<' not supported between instances of 'str' and 'int'

This is also reproducible via pynautobot on 1.0.0b3.
[code]

Logs from 1.0.0b3 instance.
[code]

### Expected Behavior
Successful POST (201 response code)

### Observed

[2021-04-08 22:25] jathanism commented on #265
I was able to reproduce this and it looks like the quick fix is to make sure your list of `ports` are integers, for example:

[code]

Even still, this is still a bug that should at least return a 400, not result in a crash.

[2021-04-08 22:30] sdktr commented on #230
Would a generic hierarchical 'Location' modal be a safer / more generic grouping? Instead of adding Buildings, Floors, Rooms as separate entities? Netbox 2.11 takes this route as well

[2021-04-08 23:05] jathanism commented on #265
It's a side effect from having switched from  `ArrayField` to `JSONArrayField` for `Service.ports`. The API serializer needs to be wiser about this, because it thinks it's just a `JSONField` and isn't doing any "smart" type detection.

[2021-04-09 12:10] evdzande opened #269 "searching for /31 prefixes throws an error with v1.0.0b3"
### Environment
* Python version: 3.7.3
* Nautobot version: 1.0.0b3

### Steps to Reproduce
1. search for a /31 prefix such as 10.150.255.2/31
2. click the Search button
3. Server Error appears:

### Expected Behavior
Search results with the /31 prefix

### Observed Behavior
Server Error appears:

This was working correctly in Nautobot version: 1.0.0b2

[2021-04-09 13:31] glennmatthews opened #270 "Implement user guide for working with custom fields"
### Environment
* Python version:
* Nautobot version: 1.0.0b3

### Proposed Functionality

Add a "user guide" to the documentation specifically focusing on use cases, applications, tips, and caveats in using the Custom Fields feature.

### Use Case

Custom fields are a surprisingly complex and nuanced feature. The current documentation is fairly bare-bones in this regard, and doesn't describe:

-

[2021-04-09 15:04] #265 closed

[2021-04-09 15:21] #97 closed

[2021-04-09 15:37] nick4me opened #271 "Thola support to query network devices via SNMP"
it is very practical and useful that napalm is integrated into nautobot.
however, many of (our) existing network devices can only or at least easier be queried via SNMP.

here it would be great if thola were also integrated in addition to napalm:
https://github.com/inexio/thola
Thola supports a very large number of network devices and can be easily integrated via REST API.
Thola can also automatic

[2021-04-09 16:01] glennmatthews commented on #269
Reproduced. Note that the "search" field must be used to trigger this issue, not the "Search within prefix" field:

![image](https://user-images.githubusercontent.com/5603551/114208318-54c87980-992b-11eb-836a-0fd341b47d89.png)

[2021-04-09 17:43] jathanism commented on #271
Hello @nick4me and thanks for the suggestion. I think this would be a good candidate for a discussion, because I think the idea is interesting.

I would like to add, however, that Thola is probably not a good fit for direct integration since it is not a Python project (it's written in Go), so it would have to be external. So perhaps a plugin that would implement a Thola client in Python that could

[2021-04-09 17:47] lampwins opened #274 "Implement Config Context Data backed by JSON Schema"
### Environment
* Python version: 3.9
* Nautobot version: 1.0.0b3

### Proposed Functionality

Config contexts provide a flexible way to manage and expose relevant network data in Nautobot that is not considered to be part of the core data model. Currently, this data is modeled and stored as free-form, user-defined JSON objects. This approach strikes a balance between usability and technical compl

[2021-04-09 18:40] jedelman8 opened #275 "Add ability to schedule Git sync"
### Environment

* Python version 3.9
* Nautobot version: 1.0.0b3

### Proposed Functionality

This proposal is to migrate Git repository sync to be a Nautobot Job to be able to leverage the scheduling features therein.

### Use Case

As a user, I want to schedule Git repository syncs so that my export templates, config contexts, and job are always up to date.

### Database Changes

TBD

### Exter

[2021-04-09 18:54] jathanism opened #276 "500 crash when creating Rack Reservation with invalid units"
### Environment
* Python version: all
* Nautobot version: 1.0.0b1-b3
* I tested both locally and on demo.nautobot.com

### Steps to Reproduce
1. Have a Rack (e.g. `rack1`)
2. Navigate to *Organization > Racks > Reservations > [+]
3. Populate `rack1` as your rack, then invalid value in the **Unit** field, such as `pizza`

### Expected Behavior

Expecting a 400 error that is captured by the UI and e

[2021-04-09 20:23] jathanism opened #277 "500 crash when editing/updating IPAM Services with invalid ports"
### Environment
* Python version: all
* Nautobot version: 1.0.0b1-b3
* I tested both locally and on demo.nautobot.com

### Steps to Reproduce
1. Have a Service (e.g. `http`)
2. Edit it
3. Populate an invalid value in the **Ports** field, such as `-80`

### Expected Behavior

Expecting a 400 error that is captured by the UI and emits invalid value error message for that field

### Observed Behavior

[2021-04-09 20:25] jathanism commented on #277
- Related to: #276 because of `NumericArrayField` in form backed by `JSONArrayField` in model
- Related to: #265 because it's the same model object

[2021-04-09 23:15] FragmentedPacket opened #278 "500 - FieldError When attempting to sort by prefix in UI (Affects others explained below)"
### Environment
* Python version: 3.7
* Nautobot version: 1.0.0b3

### Steps to Reproduce
1. Attempt to sort by Prefix (ipam/prefix) on prefix's UI list view
2. FieldError occurs

This also happens when attempting to sort IP addresses and Aggregates on their respective list views

### Expected Behavior
Sort prefixes/ip address/aggregates appropriately

### Observed Behavior
500 for FieldError

[co

[2021-04-09 23:25] nick4me commented on #271
@jathanism you are right. if you like the idea we could also write a lightweight python client library for Thola. maybe you can specify the requirements (methods with input and response parameters, ...) and we will provide such a library in the next few days.

I am very happy to discuss the integration. As user of nautobot we would be very happy to integrate the realtime queries and the onboarding

[2021-04-09 23:39] jathanism commented on #278
More IPAM field type bugs. This also affects `IPAddress` and `Aggregate` objects.

This can be solved with a quick fix to the respective column objects by adding an `order_by` argument. (See: https://django-tables2.readthedocs.io/en/latest/pages/ordering.html#ordering-by-accessors)

[2021-04-10 02:58] jvanderaa commented on #242
It is the issue for 195.

[2021-04-10 17:04] #271 closed

[2021-04-11 18:20] dgarros opened #283 "GraphQL Unable to filter devices by name"
### Environment
* Python version: 3.7
* Nautobot version: 1.0.0b3 develop

### Steps to Reproduce
1. query devices in Graphql with the filter name

[code]

### Expected Behavior
query should return 1 result for the associated device

### Observed Behavior
nothing is returned

I did a preliminary analysis and I think the issue is with the function `get_filtering_args_from_filterset` introduced in #

[2021-04-11 18:21] dgarros commented on #283
Please assign this one to me, I'm working on a fix

[2021-04-11 18:41] sirtux opened #284 "Document manual update path between v1.0.0b2 and v1.0.0b3"
### Environment
* Python version: 3.9
* Nautobot version: v1.0.0b2/ v1.0.0b3

### Proposed Functionality

Enhance the documentation to manually transfer data between the different versions

### Use Case
We have already a large database, and would like to update -
as the release notes say, a new database must be created.

However, since I could migrate data from netbox to nautobot,
there also shoul

[2021-04-12 08:21] Thetacz opened #286 "Error when searching for IP without prefix"
### Environment
* Python version: 3.8.5
* Nautobot version: 1.0.0b3

When I use search field in the top right most corner (in navbar nex to user) and I search only by IP without prefix, I get the following error:
![image](https://user-images.githubusercontent.com/26114847/114363064-5470ee00-9b78-11eb-8235-1654a36985da.png)

Full trace:
[code]

Searching with prefix works:
![image](https://user-ima

[2021-04-12 08:32] Thetacz opened #287 "Searching never shows IP"
### Environment
* Python version: 3.8.5
* Nautobot version: 1.0.0b3

When I search for IP, nothing ever shows.
![image](https://user-images.githubusercontent.com/26114847/114364291-8c2c6580-9b79-11eb-97d8-24dc099ba7f5.png)

But I know it exists because when I search it in the navbar, I can find the prefix and by going to the prefix and it's IPs, I can find the IP.
![image](https://user-images.gith

[2021-04-12 10:16] Thetacz opened #288 "Direct parent prefix does not show when viewing IP"
### Environment
* Python version: 3.8.5
* Nautobot version: 1.0.0b3

When I open an IP, the direct parent prefix is not show in the list of parent prefixes even though it exists.
![image](https://user-images.githubusercontent.com/26114847/114378551-1ed40100-9b88-11eb-903a-3e2c0304305f.png)

This is how it looks in Netbox with the same data:
![image](https://user-images.githubusercontent.com/261148

[2021-04-12 16:34] jathanism commented on #286
@Thetacz Thanks for the report. Looks like this will also be fixed by #281

[2021-04-12 16:41] jathanism commented on #286
![Uploading Search_-_Nautobot.png…]()

[2021-04-12 17:53] jathanism commented on #287
@Thetacz Thanks for this report. I've confirmed this behavior and it appears in our changes the `address` field dropped out of this filter.

[2021-04-12 18:13] jathanism commented on #288
Confirmed this one, too. Thanks. Seems we have a few weird quirks here.

[2021-04-12 19:26] nniehoff opened #291 "Incorrect version reported by nautobot-server"
### Environment
* Python version: 3.6.13
* Nautobot version: 1.0.0b3

`nautobot-server version` returns an incorrect version number while `nautobot-server --version` is correct.
### Steps to Reproduce
1. run `nautobot-server version`

### Expected Behavior

Should returned `1.0.0b3`

### Observed Behavior

[code]

[2021-04-12 19:26] jvanderaa opened #292 "RIRs Aggregate Count Not Updating"
### Environment
* Python version: 3.6
* Nautobot version: 1.0.0b3

### Steps to Reproduce
1. Create RIR named `RFC1918`
2. Add aggregate underneath `RFC1918` named `10.0.0.0/8`
3. Add another aggregate in the same RIR, named `192.168.0.0/16` and `172.16.0.0/12`
4. Navigate to primary RIR page, Aggregate count does not get updated

### Expected Behavior

Expected the count to show `3`

### Observed

[2021-04-12 19:48] #262 closed

[2021-04-12 20:19] #278 closed

[2021-04-12 20:43] glennmatthews commented on #13
A plugin might prefer/expect/require certain extensibility features to be defined/enabled as a consequence of installing and enabling the plugin. For example:

- Automatically adding certain custom fields or specific custom links to a Nautobot model(s)
- Automatically defining an export template(s) for a Nautobot model(s)
- Automatically creating certain Relationships between Nautobot models (and/

[2021-04-12 20:45] glennmatthews commented on #212
I'm in favor of this feature, but I'd recommend that instead of adding a separate `plugin` parameter to the API, we instead check whether the provided `instance`'s `app_label` is a native app or a plugin app, and automatically derive the correct reversed viewname accordingly - see #293 for an example fix to a similar issue.

[2021-04-12 21:04] #96 closed

[2021-04-12 21:07] glennmatthews commented on #291
Looks to be reporting the Django version.

[2021-04-12 22:10] jathanism commented on #291
Correct. The `version` command is built into Django and displays the Django version. I'll agree this is confusing, especially since the inclusion of the `version` sub-command isn't even documented and appears to be hard-coded because doesn't show when you run `nautobot-server help`.

https://github.com/django/django/blob/3.1.7/django/core/management/__init__.py#L390-L391

[2021-04-12 22:12] jathanism commented on #291
Anyhow, confusing as it may be, there's not an easy way to fix this because it's hard-coded in the Django core management code. We'd have to overload everything just to patch this one thing.

[2021-04-12 22:14] #291 closed

[2021-04-12 22:22] jathanism commented on #292
I am not able to reproduce this on beta3 or develop branch head with or without caching enabled. Based on your additional notes, it seems as if there may be some kind of invalidation bug with aggregates or RIRs, but to confirm we'll need to be able to consistently reproduce this.

[2021-04-13 12:53] glennmatthews commented on #284
Hi, thanks for opening this issue. We apologize for the trouble, but there’s currently no supported data migration path from 1.0.0b2 and earlier to 1.0.0b3 and later, due to numerous data model changes made in 1.0.0b3. (I’ll note that this *will* be the last set of breaking data model changes prior to 1.0.0 - migrating from 1.0.0b3 to 1.0.0, when released, should be relatively painless as an in-pl

[2021-04-13 13:35] nniehoff opened #297 "Allow Anonymous Status Checks"
### Environment
* Python version:  3.6
* Nautobot version:  1.0b3

### Proposed Functionality

Provide an endpoint to check the Nautobot service status.  At a minimum, this should reflect the database, Redis, and Django status.  It should return a 200 response if OK and 500 if there is some issue.  This endpoint should not require authentication.

### Use Case

This endpoint could be used for a do

[2021-04-13 14:10] sirtux commented on #284
Well,
the data came from netbox initially, and then scripts did their things, and I now have more than 10k devices with network etc in the system, as I didn't expect such a hard breaking and GraphQL was it worth to move to nautobot...

What would happen, if I get the data with "nautobot-server dumpdata" and import it in the new instance with "nautobot-server loaddata"?

Are the model changes only

[2021-04-13 14:15] ichilton opened #299 "nautobot-server collectstatic Breakage"
### Environment
* Python version: 3.7.3
* Nautobot version: 1.0.0b3

### Steps to Reproduce
1. Follow the install instructions on: https://nautobot.readthedocs.io/en/latest/installation/nautobot/
2. When running `nautobot-server collectstatic`, it gives the following:

[code]

The documentation states `/opt/nautobot/nautobot_config.py` and `nautobot-server init` creates `/opt/nautobot/nautobot_con

[2021-04-13 14:52] p-rintz opened #300 "Exception when adding primary ip to device"
### Environment
* Python version:3.8.5
* Nautobot version: 1.0.0b3

### Steps to Reproduce
1. Go to any device
2. Set a primary ip (either v4 or v6)
3. Click on update

### Expected Behavior
That it succeeds in setting the primary ip.

### Observed Behavior
It will throw an exception in the [deconstruct_address](https://github.com/nautobot/nautobot/blob/b2135c0d40632b03a5a90fe948030c3bb0009020/nau

[2021-04-13 15:46] glennmatthews commented on #300
Thanks for the report! As discussed on Slack, I'm able to confirm this issue locally as well - we'll get it fixed!

[2021-04-13 15:59] #288 closed

[2021-04-13 16:00] #269 closed

[2021-04-13 16:00] #286 closed

[2021-04-13 16:41] jathanism commented on #299
Hello @ichilton. Thanks for reaching out.

The location you're seeing at `/opt/nautobot/.nautobot` is the default location. Ff `NAUTOBOT_ROOT` isn't customized by the user, it defaults to `$HOME/.nautobot`. You may find the [Nautobot configuration guide](https://nautobot.readthedocs.io/en/latest/configuration/) helpful here.

It seems like you're missing a couple things:

- You do not appear to ha

[2021-04-13 16:49] FragmentedPacket commented on #212
@glennmatthews Thanks for the suggestion. Implemented that and this helped me get rid of custom HTML for the list view and just use everything builtin.

[2021-04-13 17:05] jathanism commented on #284
It's a rabbit hole. See below:

Short answer is it's both. The changes are db-related but they also affects the representation of the models in JSON  because particularly the network fields were changed pretty significantly (for example `IPAddress.address` is now a virtual field backed up by three concrete fields). We also replaced the user model, so any object that has a relationship to users int

[2021-04-13 17:38] tim-fiola commented on #292
I was unable to replicate using beta 4

[2021-04-13 18:47] glennmatthews opened #304 "IPAddress clean() checks do not work as intended"
### Environment
* Python version:
* Nautobot version: 1.0.0b3

### Steps to Reproduce
1. Attempt to create a new IPAddress record with an IPv6 address and assign it the `SLAAC` status.

### Expected Behavior

Address is successfully created

### Observed Behavior

The form rejects the input as invalid:

![image](https://user-images.githubusercontent.com/5603551/114604019-6fba2700-9c66-11eb-898b-5a

[2021-04-13 18:47] tim-fiola commented on #300
In beta4 I confirmed this in the UI, but I do not see the problem when adding/changing the device primary IP via rest calls.

Did a PATCH: `127.0.0.1:8000/api/dcim/devices/6439f6df-5d57-4ccc-aee2-c7d4ddfb4a4d/`

with body:
[code]

Adding the postman collection where I validated the rest testing:
[code]

[2021-04-13 18:57] glennmatthews commented on #304
Looks to be a more general issue - for example, the check in `clean()` for `self.address.prefixlen == 0` is also not being enforced properly since `self.address` is evaluating to `None`, allowing an entry of `1.1.1.1/0` to create IP address `None`:

![image](https://user-images.githubusercontent.com/5603551/114605907-937e6c80-9c68-11eb-952a-e7dcacd7da3a.png)

[2021-04-13 19:43] glennmatthews opened #305 "Status rendering does not preserve capitalization"
### Environment
* Python version:
* Nautobot version: 1.0.0b3

### Steps to Reproduce
1. Create an IPAddress and assign it a status of `DHCP`.
2. Note that in the IPAddress detail view and list view, the label is rendered as `Dhcp`.

![image](https://user-images.githubusercontent.com/5603551/114610901-6df46180-9c6e-11eb-96df-3162a3ddef6e.png)

![image](https://user-images.githubusercontent.com/560

[2021-04-13 19:55] mzbroch opened #306 "Custom relationships input form issues"
### Environment
* Python version:
* Nautobot version: 1.0.0b3

### Steps to Reproduce
1. Create a custom relationship

[code]

2. Try to fill relationship with Circuit <> IP address with database containing thousands of objects

### Expected Behavior
Search forms for objects auto-completes or permits manual inputs.

### Observed Behavior

Search forms do not allow to input values. Instead console

[2021-04-13 20:05] nniehoff opened #307 "Unable to Export Power Connections if connected to a PowerFeed"
### Environment
* Python version: 3.6
* Nautobot version: 1.0b3

### Steps to Reproduce
1.  Create a power feed
2.  Create a connection from a device to the feed
3.   Go to `/dcim/power-connections/` and click export

### Expected Behavior

A .csv file is generated

### Observed Behavior

[code]

![Screen Shot 2021-04-13 at 2 04 17 PM](https://user-images.githubusercontent.com/14947575/114613941-2

[2021-04-13 20:13] nniehoff opened #308 "Unable to view Power Feeds"
### Environment
* Python version: 3.6
* Nautobot version: 1.0b3

### Steps to Reproduce
1. Create power panel
2. Create power feed
3.  In power feed list view click on power feed name

### Expected Behavior

power feed is displayed

### Observed Behavior

[code]

![Screen Shot 2021-04-13 at 2 13 24 PM](https://user-images.githubusercontent.com/14947575/114615042-70e95500-9c62-11eb-9ff1-7712e21f840

[2021-04-13 20:28] glennmatthews commented on #306
I was just about to file a very similar issue, glad I saw this first!

It looks like the `DynamicModelChoiceField` that's auto-created for any relationship on a model is operating under the expectation that the related model has a `name` field, and doesn't work well if the related model (such as IPAddress) doesn't have such a field.

`DynamicModelChoiceField` has a `display_field` parameter (defau

[2021-04-13 20:39] nniehoff opened #309 "Power Cables Display as connected to Circuits"
### Environment
* Python version: 3.6
* Nautobot version: 1.0b3

Power cables connected to power feeds are displayed as terminating to Circuits with Providers.  This might be a feature request, apologies if so, NetBox reports the cable in the same way.

### Steps to Reproduce
1.  Create a device with a powerport
2.  Create a power panel and power feed
3.  Connect the power port to the power feed
4

[2021-04-13 21:01] glennmatthews commented on #307
FWIW this appears to be an issue in NetBox 2.10 as well, though perhaps not a known issue.

[2021-04-13 21:40] #283 closed

[2021-04-13 21:45] #212 closed

[2021-04-13 22:21] nniehoff opened #311 "Unable to Bulk Import Cables Connected to Power Feeds"
Even though cables can be created using the UI connecting a device's power port to a power feed, you can not import the cable.  This issue also exists in NetBox and has been reported as issue [5952](https://github.com/netbox-community/netbox/issues/5952) with a potential fix in or [6111](https://github.com/netbox-community/netbox/pull/6111) for NetBox.

### Environment
* Python version: 3.6
* Naut

[2021-04-13 22:41] ichilton commented on #299
Thanks for the quick response!

The configuration thing was totally my fault - I did copy it from our Netbox config - I assumed it would be the same and at a glance it looked the same.

Then the other thing, I had set NAUTOBOT_ROOT in .bashrc.... but on reflection when I got that error, I was running it through SaltStack, which didn't have that ENV set - doh! - With hindsight, I fixed it with a sy

[2021-04-13 22:41] #299 closed

[2021-04-13 22:54] nniehoff opened #313 "Swagger UI Doesn't Report Status as a Required Field Correctly"
Not sure if this is global or specific to power-feeds status but I also checked devices and status is not required there either in swagger.

### Environment
* Python version: 3.6
* Nautobot version: 1.0b3

### Steps to Reproduce
1.  Go to the swagger UI
2.  Look for POST `POST ​/dcim​/power-feeds​/`
3.  Look under parameters in the model view, status is shown as not required

### Expected Behavior

[2021-04-13 23:36] jathanism commented on #313
Thanks @nniehoff for reporting this. Interestingly it's marked as non-required field in the serializer mixin, but obviously that's now how it is behaving:

https://github.com/nautobot/nautobot/blob/develop/nautobot/extras/api/serializers.py#L611-L614

[2021-04-14 07:42] sirtux commented on #284
Okay,

I understand this, and no hard feelings.

But if I see right, getting an object via REST-API and adding it to another instance should work, if I copy element by element and make sure the dependecies are met?

If so, I'll write a small script to do that, and add it to this ticket, and then this can be closed.

[2021-04-14 09:06] sirtux opened #315 "Missing table in database"
### Environment
* Python version: 3.8
* Nautobot version: 1.0.0b2 / 1.0.0b3

### Steps to Reproduce
1. run nautobot-server dumpdata extras --traceback

### Expected Behavior
Correct Datadump

### Observed Behavior
[code]

[2021-04-14 11:53] glennmatthews commented on #315
Thanks for the report! Unfortunately, this is "expected" behavior, as `extras.Job` is an "unmanaged" model that doesn't actually exist in the database, and Django's built-in `dumpdata` command isn't intelligent enough to automatically skip over such models. You'll need to run dumpdata with the `--exclude extras.Job` parameter to explicitly skip this model.

[code]

[2021-04-14 11:53] #315 closed

[2021-04-14 13:15] nniehoff opened #316 "Unable to Create Power Cables via API"
### Environment
* Python version: 3.6
* Nautobot version: 1.0b3

This is similar and likely related to #311 however we need to make sure the API gets fixed as well.

### Steps to Reproduce
1.  Create a power panel and power feed
2.  Create device with a power port
3.  Create json payload:

[code]

4.  Adjust IDs appropriately
5.  POST the json as an authenticated request to `/dcim/cables/`

### Ex

[2021-04-14 13:16] nniehoff commented on #316
As with issue #311 this issue is also from NetBox

[2021-04-14 13:19] glennmatthews commented on #316
Can you confirm that you don't already have a cable connected to that powerfeed? The "must make a unique set" error text suggests that Nautobot thinks you already have such a cable.

[2021-04-14 13:27] nniehoff commented on #316
Thanks Glenn apparently it's impossible to connect 2 power ports to the same powerfeed.

[2021-04-14 13:27] #316 closed

[2021-04-14 13:44] nniehoff commented on #292
@jvanderaa were you able to reproduce this locally or only on demo.nautobot.com?

[2021-04-14 13:46] matt852 opened #317 "Crash: Updating status of device with primary IP address configured"
### Environment
* Python version: 3.6.13
* Nautobot version: 1.0.0b3

A 500 error page is returned if you try to edit the status of a device with a Primary IP address attached.  This error does not occur if either the device has no IP addresses assigned to it at all, or has one or more IP addresses assigned to it, but none are set as the Primary IP address.

I was able to replicate this on a fresh

[2021-04-14 13:58] jvanderaa commented on #292
I was able to recreate locally as well on full install. Not on the dev environment as there were errors with Redis there.

[2021-04-14 14:31] matt852 commented on #317
This does NOT appear to be an issue in Nautobot v1.0.0b2

[2021-04-14 14:49] glennmatthews commented on #300
Fixed by #301.

[2021-04-14 14:49] #300 closed

[2021-04-14 14:50] glennmatthews commented on #317
Thanks for the report! This may be a duplicate of #300. Can you confirm whether this issue is still seen with the latest `develop` code base (containing #301)?

[2021-04-14 14:57] jathanism commented on #317
This is fixed in #300 for sure. Same issue, but will be good to get the confirmation from @matt852. Thanks! :)

[2021-04-14 14:59] #150 closed

[2021-04-14 15:00] #305 closed

[2021-04-14 16:47] jathanism opened #318 "TypeError when creating IPAddress with prefix of /0"
### Environment
* Python version: 3.6+
* Nautobot version: beta4 (develop)

### Steps to Reproduce
1. Go to add new IP Address
2. Fill out IP w/ `/0` prefix (e.g. `10.11.12.0/0`) + status
3. Click "Create"

### Expected Behavior

Should fail validation as /0 is not permitted for IP addresses.

### Observed Behavior

- Object gets created, but repr is`None` as address and causes `TypeError` to be r

[2021-04-14 19:34] matt852 commented on #317
@glennmatthews @jathanism This looks to be fixed using the most recent updates in branch `develop`

[2021-04-14 20:38] glennmatthews commented on #317
Thank you for the confirmation!

[2021-04-14 20:38] #317 closed

[2021-04-14 21:34] #308 closed

[2021-04-14 22:16] #304 closed

[2021-04-14 22:16] #318 closed

[2021-04-14 22:16] jathanism commented on #309
IMO this is certainly a bug, but not a showstopper, so I'm going to push this beyond the fold for v1.0.0

[2021-04-15 01:24] FragmentedPacket opened #320 "Prefix/Aggregate Model Validation Fails - Related to previous issues due to computed fields for Address/Prefix"
### Environment
* Python version: 3.8.7
* Nautobot version: 1.0.0b4 (develop)

### Steps to Reproduce
1. Attempt to add /0 prefix or aggregate and it doesn't fail validation

### Expected Behavior
Should fail validation per the model's clean methods.

This affects all validation from the model as the `prefix` for both of these shows as `None` so it skips validation on these models.

I've got the f

[2021-04-15 18:14] sirtux commented on #284
Okay,

I'll have transferred dcim, tenancy and extra-data via dumpdata and loaddata,
and for IPAM I used the following hacky script:

https://gist.github.com/sirtux/bf0f4189bc2af20041be62a292ad015b

So I'll close this issue, and hopefully no one else will fall over this, or if he does find that script handy.

[2021-04-15 18:14] #284 closed

[2021-04-15 18:34] #306 closed

[2021-04-15 19:15] sirtux opened #323 "Searching for an IP-Address in the main search field causes server error"
### Environment
* Python version: 3.8.5
* Nautobot version: 1.0.0b3

### Steps to Reproduce
1. Enter in the main search field on top something which looks like an IP
2. This calls an URL like https://nautobot.local/search/?q=192.168.10.1
3.

### Expected Behavior
A search result is displayed

### Observed Behavior

[code]

[2021-04-15 20:41] dd1245 commented on #323
I have this same issue when searching for IP addresses. Other objects seem ok.

[2021-04-15 21:05] glennmatthews opened #325 "Unsetting/clearing a RelationshipAssociation while editing a model doesn't take effect."
### Environment
* Python version:
* Nautobot version: 1.0.0b4 (both before and after #321)

### Steps to Reproduce
1. Define a Relationship between models - for example a One-to-One relation between Device <--> IPAddress
2. On an instance of Device, set an IPAddress for this relationship and save the model
3. Confirm that the Device detail page correctly shows the defined relationship association

[2021-04-15 21:08] glennmatthews opened #326 "404 error when attempting to delete a RelationshipAssociation from the list view"
### Environment
* Python version:
* Nautobot version: 1.0.0b4

### Steps to Reproduce
1. Create a Relationship between models, and apply this relationship to at least one model (creating a RelationshipAssociation record)
2. Navigate to the RelationshipAssociation list view at `/extras/relationships/associations/`
3. Click the Delete button next to any entry in the table

### Expected Behavior

The

[2021-04-15 21:17] #175 closed

[2021-04-15 21:41] #326 closed

[2021-04-16 15:01] jathanism commented on #323
This is fixed in #301.

Can you please try installing beta4 from the `develop` branch and confirm that this fixes it for you? We have a handful of other IP-related fixes as well.

[2021-04-16 15:08] jathanism commented on #313
It's because of model validation. The field not being required is overridden by the fact that the field is required when the model is validated.

[2021-04-16 15:14] jathanism commented on #287
This was fixed in #295

[2021-04-16 15:14] #287 closed

[2021-04-16 15:18] jathanism commented on #220
I think this would be valuable to have in the developer documentation in a "troubleshooting" section.

[2021-04-16 15:28] matt852 opened #330 "WebHook should provide old data together with new data"
### Environment
* Python version: 3.6.8
* Nautobot version: 1.0.0b3

### Proposed Functionality
I'm submitting this feature request on behalf of @itdependsnetworks for webhooks to include old and new data (pre/post changes).  There was an active issue with Netbox for this same issue, where the feature was recently merged in.  It may be possible to reference this issue/PR and replicate the function

[2021-04-16 15:45] matt852 opened #331 "Enable filtering for webhooks triggering on update"
### Environment
* Python version:  3.6.8
* Nautobot version:  1.0.0b3

### Proposed Functionality
I would like to be able to specify a webhook to only trigger on specific status updates.  Currently, a webhook can be set to trigger on any update to an object.  This request would ideally replace the "Type update" checkbox with a dynamic selection for the parent object(s) selected in the "Content Typ

[2021-04-16 16:13] sirtux commented on #323
Can confirm that it works in b4.

[2021-04-16 16:14] jathanism commented on #323
Thanks @sirtux

[2021-04-16 16:14] #323 closed

[2021-04-16 16:29] jathanism commented on #223
Other important use cases:

- Built in support for storing task results as database objects w/ args/kwargs/inputs w/ [django-celery-results](https://pypi.org/project/django-celery-results/)
- Built in support for scheduling/recurring/crontab tasks w/ args/kwargs as database objects w/ [django-celery-beat](https://pypi.org/project/django-celery-beat/)

[2021-04-16 16:44] jedelman8 commented on #275
Need to breakup into a few issues (in this priority)

- Scheduled Jobs
- Scheduled Git Sync
- Scheduler to be used by plugins
- Templated Jobs
- Webhooks for Jobs

[2021-04-16 17:44] mzbroch opened #332 "UI allows creation of multiple RelationshipAssociations even for "one_to_*" relationships"
### Environment
* Python version:
* Nautobot version: `develop` branch os of Apr-16,

### Steps to Reproduce
1. Create a custom relationship (one to many) between Circuit and IP
2. Assign the same IP to two different Circuits

### Expected Behavior
Under IP Address view, relationship should indicate multiple circuits.

### Observed Behavior
IP Address view shows only one related Circuit

![image](

[2021-04-16 17:50] mzbroch opened #333 "Clarify Custom Relationship UI for list references"
### Proposed Functionality

Custom relationships, depending on the relation type, create a url-redirect inside a view either to a list of relations, either to the related object.

This is misleading in some cases, where numbers are used as the object names (ie. vlan name, or the circuit name).

For those cases, it would be useful to distinguish for those two different situations.

Object Redirect

[2021-04-16 17:55] mzbroch commented on #306
Re-Tested OK!

[2021-04-16 17:56] glennmatthews commented on #332
This seems like a validation error rather than a UI issue - for a ONE_TO_MANY relationship, you shouldn't be able to assign a "many" object to two "one" objects simultaneously.

[2021-04-16 17:58] glennmatthews commented on #333
Thanks for the report! Would just adding some words to the list case, making it something like:

[code]

be an adequate fix here?

[2021-04-16 18:21] mzbroch commented on #332
In this example `one to many` reflects modelling of a single circuit with multiple IP addresses related - I understand an IP address could be re-used by many Circuits. (no matter if it is real-life situation or not)

[2021-04-16 18:21] mzbroch commented on #333
Sounds good to me

[2021-04-16 18:26] glennmatthews commented on #332
If you want to allow a single circuit to use multiple IPs and a single IP to use multiple circuits, that would be a MANY_TO_MANY relationship, not a ONE_TO_MANY relationship, as I understand things anyway. In any case, there's definitely an issue here, and thank you for the report!

[2021-04-16 19:14] JeffTadashi opened #334 ""Bulk Add IP Addresses" missing as option when adding new IP"
### Environment
* Python version: Python 3.8.5
* Nautobot version: v1.0.0b3

### Steps to Reproduce
1. Click on IPAM -> IP Addresses -> Add

### Expected Behavior
Expect to find "Bulk Create" option as tab at top, but there is no option there

### Observed Behavior
Interestingly, if I go to an existing IP address, and click "Edit", the option for "Bulk Create" is present.

Also, going to the URL d

[2021-04-18 01:31] lampwins opened #336 "`nautobot.utilities.api.get_serializer_for_model` does not support the plugins namespace"
### Environment
* Python version: 3.9
* Nautobot version: 1.0.0b3

### Steps to Reproduce
1. Create a plugin with a model
2. Create an API serializer and nested serializer using `ValidatedModelSerializer` and `WritableNestedSerializer` respectively. The nested serializer should use a reduced fieldset
3. Create an API viewset using `nautobot.core.api.views.ModelViewSet`
4. Attempted to invoke the n

[2021-04-18 02:07] lampwins opened #337 "`nautobot.extras.plugins.api.views.PluginsAPIRootView` creates `null` entries when `PluginConfig` does not define a `base_url`"
### Environment
* Python version: 3.9
* Nautobot version: 1.0.0b3

### Steps to Reproduce
1. Create a plugin with `name` set to `myplugin` but in its `PluginConfig` do not define a `base_url`
2. Create a model and standard API viewset in the plugin
3. Navigate to the `/api/plugins/` endpoint

### Expected Behavior
The response should contain the hyperlink to the plugin's root view with the key `my

[2021-04-19 15:55] #320 closed

[2021-04-19 16:05] jathanism commented on #334
Confirmed. That is certainly unexpected behavior. The only bulk add view in IPAM is for IP addresses.

Thanks for the report @JeffTadashi.

[2021-04-19 16:11] jathanism commented on #334
![Cursor_and_Editing_IP_address_10_20_30_1_32_-_Nautobot](https://user-images.githubusercontent.com/138052/115268540-3a428d00-a0ef-11eb-91b7-50e3cac31d25.png)

[2021-04-19 16:25] jathanism commented on #334
Toggling the condition to `if not editing` in `nautobot/ipam/templates/ipam/ipaddress_edit.html` template seems to fix it, but then it introduces an issue when assigning an IP to an interface.

[2021-04-19 17:19] bryanward-net commented on #157
The ability to relate Sites to Sites could help with #230 .  Similarly, I'd love to have VLAN Groups be able to inherit from each other so that VLANs that span several "sites" or "buildings" can be made available to all interfaces within a site/building.

[2021-04-19 17:41] bryanward-net opened #338 "Relationships appear as null on Devices"
### Environment
* Python version: demo.nautobot.com
* Nautobot version: 1.0.0b3

### Steps to Reproduce
1. Create VLAN Group named "MyVLANGroup"
2. Create One-to-Many Relationship "dcim:device->ipam:VLAN group" named "Device to VLAN Group"
3. Create new Device named "MyDevice"
4. Edit device "MyDevice".  Assign "MyVLANGroup" to the "VLAN Group" Relationship of "My Device", click Update.
5. Note th

[2021-04-19 18:09] glennmatthews commented on #338
Thank you for the report! I'm unable to reproduce this issue in the latest `develop` code, which leads me to believe this issue was probably fixed by #321 or one of the other Relationship fixes we've made very recently.

![image](https://user-images.githubusercontent.com/5603551/115282386-2bbc9b80-a118-11eb-831a-eb9ec826a9f7.png)
![image](https://user-images.githubusercontent.com/5603551/115282647

[2021-04-19 19:37] jvanderaa opened #340 "Plugin Development: Received Message to use `python manage.py migrate`"
### Environment
* Python version: 3.7.7
* Nautobot version: 1.0.0b3

### Steps to Reproduce
1. Create a plugin with some model changes
2. Execute makemigrations step
3. Restart Nautobot (no migrate)

### Expected Behavior

Expected the response to be run `nautobot-server migrate` to apply them

### Observed Behavior

Got a message:
[code]

[2021-04-19 19:46] #307 closed

[2021-04-19 19:46] #325 closed

[2021-04-19 21:42] whitej6 opened #342 "time_zone attribute of the Site object emits Null if not set."
GET vs PUT/PATCH/POST endpoint for `/api/dcim/site/` does not represent the `time_zone` attribute in the same fashion. GET will represent an unset time_zone as `null` but attempting to create/edit that field via the API it does not allow for the field to be `null` only `""` or not part fo the payload.

### Environment
* Python version: 3.7
* Nautobot version: develop

### Steps to Reproduce
1. GET

[2021-04-19 21:43] whitej6 commented on #342
@jathanism please assign to me.

[2021-04-19 21:43] jathanism commented on #342
Thanks for reporting this @whitej6. Confirmed that `Site.time_zone` is a non-nullable char field. The API should emit an unset `time_zone` as an empty string, not `null`.

[2021-04-19 23:00] jathanism opened #343 "Database migrations fail to run with ProgrammingError"
### Environment
* Python version: *
* Nautobot version: `develop`

### Steps to Reproduce
1. Clown down latest `develop` branch (5e1ed8f942cf83da0cbdf4515801a591e835b78e)
2. Start with a fresh database (or `invoke destroy`)
3. Run `nautobot-server migrate` (or `invoke build`)

### Expected Behavior

Database migrations run

### Observed Behavior

[code]

[2021-04-19 23:02] jathanism commented on #343
I narrowed it down to having been introduced in #322 with `ContentType.objects.get_for_model(Interface)` on line 2536.

https://github.com/nautobot/nautobot/blob/db68145cda8141a4295d46d0d0243a896477bcd9/nautobot/dcim/views.py#L2528-L2538

Moving this call to a method alleviates the issue, since the method call is not evaluated at import time.

[2021-04-20 12:36] glennmatthews opened #345 "Create dedicated queues for Jobs and Git repository sync"
### Proposed Changes

Consider creating dedicated worker queues for Job execution and for Git repository sync -- currently they share the 'default' queue.

See also:
- https://github.com/nautobot/nautobot/pull/208
- https://github.com/nautobot/nautobot/pull/290/files#r612942314

### Justification

Other background tasks (webhooks, check_releases, custom_fields) each have their own dedicated queues

[2021-04-20 12:46] glennmatthews opened #346 "Add documentation about Git repository REST API"
### Environment
* Python version:
* Nautobot version: 1.0.0b4

### Proposed Functionality

The Git repository documentation (`nautobot/docs/user-guides/git-data-source.md` and/or `nautobot/docs/models/extras/gitrepository.md`) should include basic information about the REST API capabilities that this feature provides, similar to the level of detail currently provided for Jobs in `nautobot/docs/add

[2021-04-20 15:00] #343 closed

[2021-04-20 18:35] jathanism commented on #345
The good news is in the new config pattern this is practically a one-liner. :)

[2021-04-20 19:42] jathanism opened #352 "Replace all instances of clean() with full_clean()"
### Proposed Changes

I am proposing that anywhere we have code that is explicitly calling a model's `clean()` method, that we update it to call `full_clean()` instead.

### Justification

This is actually the [officially documented way to do this](https://docs.djangoproject.com/en/3.2/ref/models/instances/#django.db.models.Model.full_clean). The `clean()` method is intended to define any custom m

[2021-04-21 12:45] jvanderaa opened #353 "REDIS Port os.getenv() with integer fails pylint"
### Environment
* Python version: 3.7.10
* Nautobot version: 1.0.0b4

### Steps to Reproduce
1. Load latest nautobot_config.py from develop into chatops plugin development
2. Run through tests on chatops plugin
3. Pylint errors as environment vars are all strings, and the config defaults to an integer for inconsistent data types

### Expected Behavior

Expected no pylint errors on chatops plugin

[2021-04-21 14:50] #276 closed

[2021-04-21 14:50] #277 closed

[2021-04-21 15:23] jathanism commented on #353
Oh, I see why you submitted #354 now. What is the exact error from pylint?

[2021-04-21 15:32] sirtux opened #355 "IPAM related queries missing in GraphQL API"
### Environment
* Python version: 3.8.5
* Nautobot version: v1.0.0b4

### Steps to Reproduce
1. Run the following GraphQL Query:
[code]

### Expected Behavior
Getting results

### Observed Behavior
[code]

The same issue appears for all IPAM-related stuff, as it sees.

[2021-04-21 15:46] sirtux commented on #355
A manual redis clear helped after the update - ticket closed.

[2021-04-21 15:46] #355 closed

[2021-04-21 17:10] jathanism opened #356 "Implement a "startplugin" management command to ease plugin development"
### Environment
* Python version: *
* Nautobot version: next

### Proposed Functionality

I propose that we implement a management command called `startplugin` inspired by Django's built-in [`startapp`command](https://docs.djangoproject.com/en/3.2/ref/django-admin/#startapp).

### Use Case

The current documentation informs the reader about the skeleton of a Nautobot plugin but expects them to cre

[2021-04-21 17:39] cmacnevin commented on #157
Agree, nested sites is a long term request of ours which never got traction. But if we can associate prefixes with any object - eg rack groups or regions, then it's not so important to us.

[2021-04-21 17:55] #332 closed

[2021-04-21 17:55] #333 closed

[2021-04-21 17:57] jathanism commented on #355
Caching strikes again! Thanks @sirtux!

[2021-04-22 13:06] matt852 opened #359 "GraphQL unable to filter cables by site"
### Environment
* Python version: 3.8.5
* Nautobot version: 1.0.0b4

### Steps to Reproduce
1. Create one or more devices with a cable attached between them in Nautobot, and assign the devices to a site
2. In the GraphQL link page (http://<server>/graphql/), create the following query
[code]

### Expected Behavior
The GraphQL query should run correctly, pulling all cables in the filtered site.

##

[2021-04-22 16:22] jathanism commented on #359
Confirmed as a bug. The underlying `nautobot.dcim.filters.CableFIlterSet.site` field is of the wrong type. This should be a `MultiValueCharFilter`, NOT `MultiValueNumberFilter`.

[2021-04-22 17:55] lampwins opened #361 "Cable connection form includes duplicate tags form elements"
### Environment
* Python version: 3.9
* Nautobot version: 1.0.0b4

### Steps to Reproduce
1. Create 2 devices with a connectable interface each
2. Click the button to connect one of the interfaces

### Expected Behavior
The connection form should be rendered correctly, showing all appropriate fields.

### Observed Behavior
The tags field is listed correctly in its own form-group at the bottom of t

[2021-04-22 18:05] jathanism commented on #361
Yo dawg I heard you like tags...

[2021-04-22 19:46] nniehoff opened #363 "Using S3 django storages backend requires USE_TZ=False"
### Environment
* Python version: 3.6
* Nautobot version: 1.0b4

When configuring django-storages to use s3:

[code]

nautobot-server collectstatic fails with the following stack trace:

[code]

Setting `USE_TZ=False` resolves the issue but comes with its own set of issues.  It looks like the files are correctly getting published to S3.  I am unsure if this happens on the first collectstatic or on

[2021-04-22 21:38] matt852 opened #365 "Incorrect GraphQL tooltip when filtering cables by site"
### Environment
* Python version: 3.8.5
* Nautobot version: v1.0.0b5

This bug was introduced with the fix from PR #360.  When querying for cables and filtering by site, the tooltip should say something like:

[code]
However the tooltip actually says

[code]

### Steps to Reproduce
1. In the latest `develop` branch, open GraphQL in the UI
2. Run a query on cables, like below, and hover over "site"

[2021-04-22 23:14] jathanism commented on #365
So we did a little digging and it turns out that for any filterset field that is a method field (such as `CableFilterSet.site`) a `label` must also be set, or the text will come back as `[invalid name]`.

Fortunately it appears there aren't a huge amount of them:

[code]

[2021-04-23 00:32] #361 closed

[2021-04-23 00:43] jathanism commented on #363
Yeah, so what I'm wondering is if you push the files to S3 for the first time with `USE_TZ=True`, will this work as expected? Let's see if we can confirm that, before we try to come up with a solution otherwise.

I'd like to rule that out, since this isn't isn't unique to Nautobot since the functionality is coming from `django-storages`. I would like to identify the root cause here and at least pr

[2021-04-23 01:23] nniehoff commented on #363
agreed, I'll work on getting a slightly less complex setup to reproduce this and maybe we can dig deeper there

[2021-04-23 04:16] FragmentedPacket commented on #292
I started to try and reproduce this and I was able to with @jvanderaa's steps.

You can have it update right after creating an Aggregate within the RIR, by going to the list view of the RIR and them clicking on the **Aggregates** column header, but once you refresh the page, it reverts back to the previous count, until a specific time or some trigger (??) happens and then the page shows the correc

[2021-04-23 12:20] jathanism opened #367 "Status field internals documentation for creating new forms is confusing"
### Environment
* Python version: *
* Nautobot version: b4

### Steps to Reproduce
1. Try to implement a new model w/ a `status` field
2. Go to implement a new model form by following the [Status Internals documentation](https://nautobot.readthedocs.io/en/latest/models/extras/status/#statusfilter-filter-field)
3. Get confused because it doesn't mention that for models that inherit from `nautobot.e

[2021-04-23 12:33] glennmatthews opened #368 "Need to provide generic Form and Field classes corresponding to generic Model classes"
### Proposed Changes

We should provide base/generic Form and Filter class(es) for most models to make use of.

### Justification

For every subclass of `PrimaryModel` or `OrganizationalModel`, its associated form needs to inherit from all of `BootstrapMixin`, `CustomFieldModelForm`, and `RelationshipModelForm`, which is a bit tedious. Similarly the associated filter needs to inherit from `BaseFil

[2021-04-23 13:03] FragmentedPacket opened #369 "API: Custom Relationships API Serializer Mixin"
### Environment
* Python version: 3.7
* Nautobot version: 1.0.0b4

### Proposed Functionality
~~Provide a custom relationships API serializer and attach to core models.~~
Add API serializer mixin to allow serialization of custom defined relationships.

May make use of https://github.com/nautobot/nautobot/blob/develop/nautobot/extras/models/relationships.py#L35-L146 to find the relationships.

###

[2021-04-23 13:21] FragmentedPacket commented on #369
https://github.com/nautobot/nautobot/blob/develop/nautobot/extras/models/relationships.py#L35-L146

[2021-04-23 15:19] jvanderaa commented on #292
I saw this bug as well when working on the Manufacturers and Device Types. Done:

1. Create new Manufacturer
2. Add device types
3. Verify the device types are there
4. Delete the all device types added
5. Check the manufacturers page and the count is still there

@jathanism @FragmentedPacket

[2021-04-23 15:24] FragmentedPacket commented on #292
You're correct. Basically anything with `LinkedCountColumn` appears to be affected.

[2021-04-23 16:46] UnityDG commented on #40
Isn't it a bad thing that the API can return undefined results that don't match the defined API in the first place?
Making the API itself use static types should be seen as a good thing as you know for certain what to expect from it, regardless of the clients language and weather or not it may be statically typed.

Json2struct is not a great solution in general to what could be automatically gener

[2021-04-23 18:59] dgarros commented on #292
Sounds like this could be a caching issue
As far as I understand most `LinkedCountColumn` field are leveraging the `count_related` function to generate a SubQuery

here is an example of query leveraging `count_related` to insert the number of associated devices for each platform
[code]
and here is the code of count_related for reference
https://github.com/nautobot/nautobot/blob/develop/nautobot/ut

[2021-04-23 19:06] FragmentedPacket commented on #292
Yes, one of my updates shows that is is happening in NetBox as well.

Is there something quick that can be done or is this working as intended? Or some kind of signal to flush cache for the object that gets updated?

[2021-04-23 21:28] dgarros commented on #369
Not sure that I fully understand that is being proposed here but extending the core model serializers with Relationships data sounds dangerous and redundant with the GraphQL interface.

[2021-04-24 02:43] itdependsnetworks commented on #369
At a minimum, should document that relationships about primarily about enforcement.

[2021-04-24 03:32] FragmentedPacket commented on #369
Sorry I didn't explain this very well and came from an internal discussion with @lvrfrc87.

A quick example is tying VLANs to a device via a custom relationship defined.

Here is the custom relationship.

![image](https://user-images.githubusercontent.com/29315002/115945219-df56c000-a477-11eb-8c26-ce0d6c672a2e.png)

And now we edit a device and add VLANS to it. We can then see from either the devi

[2021-04-24 04:31] itdependsnetworks commented on #369
That was my understanding of the use case as well, but since there is an alternative via graphql, I think that should suffice. Just my opinion though.

[2021-04-24 15:17] itdependsnetworks opened #370 "Add ability to store configuration settings in the database"
### Environment
* Python version: 3.7
* Nautobot version: 1.0

### Proposed Functionality

Provide some amount of settings via a singleton pattern.

### Use Case

In developing the golden config plugin, I have settings that requires only a single instance in a database. Provide a pattern for singletons with configuration. This should include core, but a pattern for plugins too.

### Database Chang

[2021-04-25 09:55] chadell commented on #275
just for clarification,  when you say `Scheduled Jobs` and `Scheduler to be used by plugins`, what about `Scheduled Jobs defined by plugins`?

[2021-04-25 18:05] itdependsnetworks commented on #275
While not explicit, it is implied. Since Plugins can create jobs, and if jobs can be scheduled, you would get both.

[2021-04-25 20:50] jathanism commented on #370
Hmm, I like this idea. It seems to me there are a lot of settings that could be stored in a database configuration that don't affect the operation of the service, that could be moved here. I'm thinking of settings like `BANNER_TOP`, `BANNER_BOTTOM`, `MAINTENANCE_MODE`, et al.

Could you please elaborate on your use-case so that we can consider how this might be implemented and how we can justify t

[2021-04-25 23:42] jvanderaa commented on #370
I'm thinking from the description that one of the models used in a plugin that I worked on would be able to benefit from it. Basically that there could only be one representation for each of the particular apps. I can explain what was done in some more detail as well

[2021-04-26 05:44] sirtux opened #371 "CSV Cable Import causes a ValueError"
### Environment
* Python version: 3.8.5
* Nautobot version: 1.0.0b4

### Steps to Reproduce
1. Go to import cables
2. Try to enter something like:
[code]

### Expected Behavior
Cables are imported

### Observed Behavior
[code]

[2021-04-26 07:29] lvrfrc87 commented on #369
I do not have a deep understanding of Nautobot architecture so I am not the best person to advise on this but from a user point of view, I would expect to have all the device info available also on API,  so I agree with @FragmentedPacket as the info should be available via all interface.

[2021-04-26 11:13] dgarros commented on #369
@lvrfrc87 You can get all the information from the REST API but not everything at once :) this is by design for the REST API
The same way that you don't get the list of interfaces for a device by querying `/api/dcim/devices`, instead you need to query `/api/dcim/interfaces` to get this information.
You can query `/api​/extras​/relationships​/` to get the list of all relationships defined in a syst

[2021-04-26 11:48] lvrfrc87 commented on #369
@dgarros thanks for the explanation! The original issue was raised with `nb_inventory` though as would be great to get `relationship`  under `host_vars` when run `nb_inventory`. Hope it make sense :)

[2021-04-26 12:03] glennmatthews commented on #371
Thanks for the report! Possibly related to #311 as well?

[2021-04-26 12:54] FragmentedPacket commented on #369
@dgarros Thanks for the explanation. I will work with @lvrfrc87 offline, but that makes sense to either use the GraphQL interface or update the inventory plugin to grab the necessary relationships.

[2021-04-26 12:59] glennmatthews commented on #369
I actually think this bears a bit more discussion before closing it. We *do* serialize custom fields onto the model in the REST API, and it would be useful to serialize relationships in the REST API as well. We already have nested serializers for including related objects in "brief" form within the serialization of a base model, and it would seem appropriate to follow that same pattern for objects

[2021-04-26 14:01] nniehoff commented on #363
I have a clean install on an AWS instance and was able to reproduce the issue, so none of the other overhead I was dealing with before.  In this case I am testing 1.0.0b4 with Python 3.8.5 on Ubuntu 20.04.  I can confirm if `USE_TZ=True` the first collectstatic runs fine, subsequent collectstatic operations fail with the above error.

[2021-04-26 14:37] ggidofalvy-tc opened #372 "Display custom fields in listings/tabular views"
### Environment
* Python version: 3.7.3
* Nautobot version: 1.0.0b4

### Proposed Functionality
The ability to select / display custom fields as columns in tabular/listing views (e.g. interfaces on a device) along with the built-in fields.

### Use Case
When one adds a custom field, it is due to having a specific requirement that NetBox is not able to model natively yet. There might be properties

[2021-04-26 14:40] ggidofalvy-tc commented on #157
Chiming in on this feature request, this would also open up the possibilities for point-to-multipoint and multipoint-to-multipoint connectivity, if one could define connectivity between interfaces. Probably better suited for a generalized multipoint circuit model, but this could be another approach to modelling the outlined scenario.

[2021-04-26 15:32] #334 closed

[2021-04-26 15:59] jedelman8 opened #374 "Add ability to schedule jobs"
### Environment

* Python version 3.9
* Nautobot version: 1.0.0

### Proposed Functionality

This proposal is to add a scheduler to Nautobot that offers users the ability to schedule jobs.  This is a subset of #275 and meant to be the first implementation and use case for the scheduler.

One idea is to create a new page called "Schedules" that allows users to view all scheduled operations.  The sa

[2021-04-27 03:49] FragmentedPacket opened #379 "Add Notification Center functionality"
### Environment
* Python version: Any
* Nautobot version: Any

### Proposed Functionality
Provide a notification center within Nautobot. This would be similar to sites such as Github that has a bell in the top right that will show a dot to display an unread notification exists as well as a list view that mark things as unread, etc.

### Use Case
This came to mind during @jvanderaa's team presentat

[2021-04-27 06:20] itdependsnetworks commented on #379
Ironically, this came up twice in the last two days.

[2021-04-27 13:23] jifox opened #380 "Add Virtual-Chassis info to starting page"
### Environment
* Python version: 3.8.5
* Nautobot version: 8fe3909a4f62 (v1.0.0b5)

### Proposed Functionality

Add the Virtual Chassis information to the main webpage in DCIM area (below Devices)

### Use Case

User wants to see the number of locical devices.

When using stacked devices with common management the number of virtual-chassis will be equal the count of logical devices.

### Database

[2021-04-27 13:47] jifox opened #381 "Input validation - forbid using double-quote char '"'"
### Environment
* Python version: N/A
* Nautobot version: N/A

### Proposed Functionality

When using .csv data the char '"' (double quote) will be used as a string delimiter. This leads to an error when trying to import the exported data.

Additionally a conversion of char `"` to char `'` (single quote) should be implemented, so importing an exported file will not lead to an error.

### Use Case

[2021-04-27 13:53] glennmatthews commented on #381
Thanks for the report! Can you provide a sanitized example of the sort of data you are trying to import to encounter this issue?

[2021-04-27 15:38] FragmentedPacket opened #382 "Choices returned from OPTIONS have some shown as display and others as displayname"
### Environment
* Python version: 3.7.9
* Nautobot version: 1.0.0

### Steps to Reproduce
Mainly know how to do this with `pynautobot`, but it appears we can just make an OPTIONS call to the list endpoint.
https://github.com/nautobot/pynautobot/blob/develop/pynautobot/core/endpoint.py#L309

[code]

### Expected Behavior
That they all options return `{"display": "XXXX", "value": "XXXX}`

### Observ

[2021-04-27 15:40] FragmentedPacket commented on #382
It seems to most likely only be the `status` due to it being a model and changed I believe.

[2021-04-27 16:24] jifox commented on #381
@glennmatthews I'll upload it tomorrow

[2021-04-27 17:15] FragmentedPacket commented on #382
Looking into it, it seems like "a" fix is to revert the return from `display` back to `display_name` to align with the other enums that aren't models within https://github.com/nautobot/nautobot/blob/develop/nautobot/core/api/metadata.py.

I'd be willing to implement the fix and add tests for this as well once we get the go forward fix for this issue.

[2021-04-27 19:29] FragmentedPacket commented on #337
I'm curious after looking into this. Do we need to check/validate what settings should NOT be left as `None`?

It appears we aren't doing any validations for required attributes for `PluginConfig`, but just for the plugin's actual settings.

[2021-04-27 20:27] jathanism opened #384 "Test issue duplicate to be closed."
### Environment
* Python version:
* Nautobot version:

### Steps to Reproduce
1.
2.
3.

### Expected Behavior

### Observed Behavior

This will be closed. This is a test issue for validating some automation.

[2021-04-27 20:31] jathanism commented on #384
Closing for testing.

[2021-04-27 20:31] #384 closed

[2021-04-28 00:33] nward opened #385 "Model interfaces with shared cabling"
### Environment
* Python version: any
* Nautobot version: future

### Proposed Functionality

- Add modelling for multiple interfaces which share a single physical cable - such as QSFP+ going to a breakout cable or panel.
- Add modelling for cables with different numbers of connectors at each end (i.e. MPO one end, 4 x LC pair the other), and a way to create new cables / pinouts to describe differ

[2021-04-28 06:35] sirtux opened #386 "Change error message from API if rack space is already occupied"
### Environment
* Python version: 3.8.5
* Nautobot version: 1.0.0

### Proposed Functionality

When creating a dcim.device via API, and the rack space is already occupied,
an error message should be understandable by the user.

Right now it returns a:

```400 Bad Request: {'non_field_errors': ['The fields rack, position, face must make a unique set.']}```

which is puzzling and not easy to underst

[2021-04-28 12:19] glennmatthews commented on #386
Thanks for the report!

Some quick analysis: the "must make a unique set" is the default message returned by Django REST Framework when using a `UniqueTogetherValidator`, but it looks like there is a `message` option that can be provided when defining the `UniqueTogetherValidator` instance to customize this behavior.

[2021-04-28 16:52] jathanism commented on #371
Sure seems like those two are related. Thanks!

[2021-04-28 16:52] #71 closed

[2021-04-28 18:41] jathanism commented on #372
Thanks for this request. We'll review it and see if it fits with what we're trying to do!

[2021-04-28 18:43] jathanism commented on #379
This is potentially very interesting. Seems like this could warrant some discussion. It seems to me that this could be incredibly useful on that final point:

[2021-04-28 18:45] jathanism commented on #380
Thanks for the idea @jifox. We'll review this and follow up.

[2021-04-28 18:48] jathanism commented on #381
Ok this is definitely a bug and appears to be related to if not the same issue as #254 in that what is exported doesn't match the format of what is required for import. As far as I'm concerned this is not desirable user experience. Import/export should be identical.

[2021-04-28 19:21] jathanism commented on #385
Thanks @nward for the request. We'll give this a good review and follow up.

[2021-04-28 19:27] jathanism commented on #382
We need the inverse in fact. We deliberately changed all `display_name` values to `display`, so we'll need to do the same to these fields. This field name is a default from DRF metadata emitter, so we'll likely just need to overload the base method to get it to apply to all field types.

[2021-04-28 19:43] jathanism commented on #386
Seeing as that is a default error message from the Django framework core, how could we improve upon it to be more user-friendly? (Open-ended question for anyone who reads this)

[2021-04-28 20:46] #365 closed

[2021-04-28 21:29] jmcgill298 opened #388 "Add loading of Plugin Models to nbshell command"
### Environment
* Python version: N/A
* Nautobot version: 1.0.0b4

### Proposed Functionality
Calling `nautobot-server nbshell` loads all of the builtin models for easy access to start debugging. It would be nice to add loading of the models for registered plugins.

### Use Case
I am developing a new plugin, and need to debug an issue that comes up. It would be nice to have access to that model up

[2021-04-28 21:34] jathanism opened #389 "Changelog unit test for deleting an object fails on MySQL"
### Environment
* Python version: *
* Nautobot version: 1.0.0

### Steps to Reproduce
1. Set MySQL as your database backend
2. Run the test suite
3. 💥

### Expected Behavior

All tests should pass.

### Observed Behavior

[code]

[2021-04-28 21:38] jathanism commented on #389
This error is strange. It doesn't happen on Postgres. In starting to look at the code path, it appears related to the object being delete in the API. When deleted in the UI this bug does not happen. Tags are apparently treated differently in the UI and the API, so we'll needed to attempt to have them use the same code paths if at all possible.

[2021-04-28 21:46] jathanism opened #390 "GraphQL API permission test teardown fails on MySQL"
### Environment
* Python version: *
* Nautobot version: 1.0.0

### Steps to Reproduce
1. Set MySQL as your database backend
2. Run the test suite
3. 💥

### Expected Behavior

All tests should pass

### Observed Behavior

[code]

[2021-04-28 23:12] jathanism commented on #369
Seconded. I don't want to have different data from the API and in GraphQL. They should have parity.

[2021-04-29 00:53] itdependsnetworks commented on #386
Ideally you can "tack on" without removing the original message. The original message is still helpful, as it provides consistency for this type of issue.

[2021-04-29 01:09] itdependsnetworks commented on #369
Just my 2 cents. There is parity in that the data exists in both API and GraphQL. To me, they serve different purposes. Certainly don't feel too strong about it, but it seems like we have a solution for the use case, and this would be added work.

[2021-04-29 02:57] smk4664 commented on #388
Related: https://github.com/netbox-community/netbox/issues/5008

[2021-04-29 07:14] lvrfrc87 commented on #369
I want to take the opportunity of this discussion to reinforce my understanding of GraphQL.
Is not GraphQL a "tool" to make API queries easier? If that is the case, why should we some data in API and not in GraphQL?
From user point of you, that could be misleading as he/she would expected to have same data available on all interfaces.

[2021-04-29 09:12] jifox opened #392 "Import Devices - Required Fields list (Uniqueness)"
### Environment
* Python version: N/A
* Nautobot version: a7cd5067476b (v1.0.1b1)

### Steps to Reproduce
1. open Devices List
2. Click on import
3.

### Expected Behavior

In my opinion the `name` field must be a required field to ensure a unique dataset

### Observed Behavior

see screenshot

![Screenshot 2021-04-29 111051](https://user-images.githubusercontent.com/8406301/116528014-98cfee00-a8d

[2021-04-29 11:21] itdependsnetworks commented on #369
My understanding is all data is exposed in graphql and api, the delta being that how data is returned in both systems.

[2021-04-29 11:43] jifox commented on #254
.csv header `devices`:
  - export:  `rack_name`
  - import: `rack`

[2021-04-29 12:51] glennmatthews commented on #392
Thanks for the report! Unfortunately there are use cases for un-named devices, as well as for devices whose names are locally (but not globally) unique, so I don't believe we'll be able to change this behavior without breaking those use cases.

[2021-04-29 14:52] jedelman8 commented on #338
@bryanward-net can you confirm this is still an issue?

[2021-04-29 18:02] jathanism commented on #342
I am a comment. Shh

[2021-04-29 18:37] jifox commented on #392
@glennmatthews Than maybe adding the primary-key value to the export/import will help to select a unique record